.link-bordered {
  border-bottom: 1px solid $accent_color;
  transition: border-bottom-color .3s;

  &:hover {
    border-bottom-color: transparent;
  }
}

.block {
  display: block;
}

.beige-bg {
  background-color: $grey_color_light;
}

.show-more {
  color: $accent_color;
  font-size: 22px;
  font-weight: 600;
  border-bottom: 1px solid $accent_color;
  display: none;
  margin: 0 auto;
  @include media-mds {
    display: block;
  }
}