@import "../helpers/vars";
@import "../helpers/mixins";

ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}


textarea {
  resize: none;
}

ul {
  padding-left: 15px;
  margin-bottom: 25px;
  li {
    position: relative;
    padding-left: 15px;

    &::before {
      content: "";
      @include position(absolute, $top: 5px, $left: 0);
      @include size(10px);
      border-radius: 50%;
      background-color: $color-accent;
    }
  }
}

ol {
  padding-left: 15px;
  margin-bottom: 25px;
  counter-reset: list-counter;
  li {
    display: flex;
    &::before {
      counter-increment: list-counter;
      content: counter(list-counter)')';
      display: inline-flex;
      font-weight: 700;
      margin-right: 10px;
      color: $color-accent;
    }
  }
}

table {
  margin-bottom: 30px;
  width: 100%;
  th, td {
    padding: 10px;
    border: 0.5px solid $grey_color_medium;
  }
  th {
    text-align: left;
    font-size: 18px;

  }
}


.section {
  @include media-md {
    padding: 50px 0 100px;
  }

  &-top-25 {
    padding-top: 25px;
  }

  &-top {
    padding-top: 80px;
    @include media-md {
      padding-top: 50px;
    }
  }

  &-middle {
    padding: 35px 0;
  }

  &-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    &__title {
      margin: 0 10px 0 0;
      font-size: 36px;
      font-weight: 400;
    }
  }
}

.logo {
  flex-wrap: wrap;
  &__text {
    @include media-sm {
      font-size: 22px;
    }
  }
}

.search-form {
  display: none;
}

.link-bordered {
  &:hover {
    border-bottom-color: transparent;
  }
}

.block {
  display: block;
}

.block-mobile {
  @include media-xs {
    display: block;
  }
}

.beige-bg {
  background-color: $color-grey-light;
}

.show-more {
  @include media-mds {
    display: block;
  }
}

.read-more {
  cursor: pointer;
  margin-left: 15px;
  color: $color-accent;
  font-weight: 600;
}
.add-text {
  display: none;
}

.reference {
  margin-top: 30px;
}
@import "pagination";