@import "fonts";
@import "../helpers/vars";
@import "../helpers/mixins";

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  line-height: 1;
  font-size: 16px;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: $base_font_family;
  font-size: 16px;
  line-height: 1.36;
  color: $black_color;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0 0 20px;
}

a {
  text-decoration: none;
  color: $accent_color;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  aspect-ratio: attr(width) / attr(height);
}

textarea {
  resize: none;
}

input,
select,
button,
textarea {
  outline: none;
}

button, input[type="button"] {
  cursor: pointer;
  border: none;
}

ul {
  margin-bottom: 25px;
  li {
    position: relative;
    padding-left: 15px;

    &::before {
      content: "";
      @include position(absolute, $top: 5px, $left: 0);
      @include size(10px);
      border-radius: 50%;
      background-color: $accent_color;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: $container_width;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 80px 0 115px;
  @include media-md {
    padding: 50px 0 100px;
  }

  &-top {
    padding-top: 80px;
    @include media-md {
      padding-top: 50px;
    }
  }

  &-middle {
    padding: 35px 0;
  }

  &-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    &__title {
      margin: 0 10px 0 0;
      font-size: 36px;
      font-weight: 400;
    }
  }
}

.logo {
  display: inline-flex;
  align-items: center;
  &__img {
    @include size(67px);
    margin-right: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &__text {
    font-family: $page_font_family;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    color: $white_color;
    @include media-sm {
      font-size: 22px;
    }
  }
}

.content {
  &-wrapper {
    &:not(:first-child) {
      margin-top: 55px;
    }
  }

  &-subtitle {
    margin: 40px 0;
    font-size: 26px;
    font-weight: 600;
  }
}
.nav {
  display: flex;
}
.nav__link-icon {
  @include size(10px, 5px);
}
.search-icon {
  @include size(28px);
}
.search-form {
  display: none;
}

.sidebar {
  width: 255px;
  margin-right: 30px;
  flex: none;
  @include media-md {
    width: auto;
    margin-right: 0;
  }
}

.nav-dropdown {
  display: none;
}

.mobile-menu {
  display: none;
  @include media-md {
    display: block;
  }
}

.car-model {
  &__title {
    display: inline-flex;
    flex-direction: column;
    font-size:  48px;
    @include media-lg {
      font-size: 34px;
    }
    @include media-sm {
      display: block;
    }
    @include media-xs {
      text-align: center;
    }
  }
  &__content {
    margin-right: 30px;
    position: relative;
    @include media-sm {
      order: 2;
      margin-right: 0;
    }
  }
  &__years {
    @include position(absolute, $top: 100%, $left: 0);
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 15px 10px;
    width: 65vw;
    @include media-xl {
      width: 90vw;
    }
  }
  &__year {
    display: none;
  }
  &__icon {
    @include size(18px);
  }
}

@import "../modules/header";
@import "page";
@import "pagination";