section.car-model.section-top
    .car-model__container.container
        .car-model__content
            h1.car-model__title
                span Cadillac Escalade
                span Specs
        .car-model__img-medium
            img(src="img/content/car-model/cadillac.png" alt="Cadillac")