section.car-characteristics
    .container
        .car-characteristics__list.flex
            .car-characteristics__item
                a.car-characteristics__linkblock(href="#")
                .car-characteristics__img.car-characteristics__img--middle
                    picture
                        source(srcset="img/content/car-characteristics/car-characteristics-5.webp", type="image/webp")
                        img(src="img/content/car-characteristics/car-characteristics-5.png")
                .car-characteristics__content
                    span.car-characteristics__title Towing Capacity
                    span.car-characteristics__link 4500-7800 lbs
            .car-characteristics__item
                a.car-characteristics__linkblock(href="#")
                .car-characteristics__img.car-characteristics__img--middle
                    picture
                        source(srcset="img/content/car-characteristics/car-characteristics-6.webp", type="image/webp")
                        img(src="img/content/car-characteristics/car-characteristics-6.png")
                .car-characteristics__content
                    span.car-characteristics__title Towing Capacity
                    span.car-characteristics__link 4500-7800 lbs
            .car-characteristics__item
                a.car-characteristics__linkblock(href="#")
                .car-characteristics__img.car-characteristics__img--middle
                    picture
                        source(srcset="img/content/car-characteristics/car-characteristics-7.webp", type="image/webp")
                        img(src="img/content/car-characteristics/car-characteristics-7.png")
                .car-characteristics__content
                    span.car-characteristics__title 0-60 Times
                    span.car-characteristics__link 4.5-7.8 sec
            .car-characteristics__item
                a.car-characteristics__linkblock(href="#")
                .car-characteristics__img.car-characteristics__img--middle
                    picture
                        source(srcset="img/content/car-characteristics/car-characteristics-8.webp", type="image/webp")
                        img(src="img/content/car-characteristics/car-characteristics-8.png")
                .car-characteristics__content
                    span.car-characteristics__title Engine type
                    a.car-characteristics__link(href="#") gasoline
        .car-characteristics__list.flex
            .car-characteristics__item
                a.car-characteristics__linkblock(href="#")
                .car-characteristics__img.car-characteristics__img--middle
                    picture
                        source(srcset="img/content/car-characteristics/car-characteristics-9.webp", type="image/webp")
                        img(src="img/content/car-characteristics/car-characteristics-9.png")
                .car-characteristics__content
                    span.car-characteristics__title Towing Capacity
                    span.car-characteristics__link 4500-7800 lbs
            .car-characteristics__item
                a.car-characteristics__linkblock(href="#")
                .car-characteristics__img.car-characteristics__img--middle
                    picture
                        source(srcset="img/content/car-characteristics/car-characteristics-10.webp", type="image/webp")
                        img(src="img/content/car-characteristics/car-characteristics-10.png")
                .car-characteristics__content
                    span.car-characteristics__title Towing Capacity
                    span.car-characteristics__link 4500-7800 lbs
            .car-characteristics__item
                a.car-characteristics__linkblock(href="#")
                .car-characteristics__img.car-characteristics__img--middle
                    picture
                        source(srcset="img/content/car-characteristics/car-characteristics-11.webp", type="image/webp")
                        img(src="img/content/car-characteristics/car-characteristics-11.png")
                .car-characteristics__content
                    span.car-characteristics__title 0-60 Times
                    span.car-characteristics__link 4.5-7.8 sec
            .car-characteristics__item
                a.car-characteristics__linkblock(href="#")
                .car-characteristics__img.car-characteristics__img--middle
                    picture
                        source(srcset="img/content/car-characteristics/car-characteristics-12.webp", type="image/webp")
                        img(src="img/content/car-characteristics/car-characteristics-12.png")
                .car-characteristics__content
                    span.car-characteristics__title Engine type
                    a.car-characteristics__link(href="#") gasoline
        .car-characteristics__list.flex
            .car-characteristics__item
                a.car-characteristics__linkblock(href="#")
                .car-characteristics__img.car-characteristics__img--middle
                    picture
                        source(srcset="img/content/car-characteristics/car-characteristics-13.webp", type="image/webp")
                        img(src="img/content/car-characteristics/car-characteristics-13.png")
                .car-characteristics__content
                    span.car-characteristics__title Towing Capacity
                    span.car-characteristics__link 4500-7800 lbs
            .car-characteristics__item
                a.car-characteristics__linkblock(href="#")
                .car-characteristics__img.car-characteristics__img--middle
                    picture
                        source(srcset="img/content/car-characteristics/car-characteristics-14.webp", type="image/webp")
                        img(src="img/content/car-characteristics/car-characteristics-14.png")
                .car-characteristics__content
                    span.car-characteristics__title Towing Capacity
                    span.car-characteristics__link 4500-7800 lbs
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.