section.section-middle
    .container
        h1.car-model__title 2012 Cadillac Escalade Lexani Johnson 26x10.0
        img.page-img-full(src="img/content/project-modified/image-3.jpg" alt="Image")
section.section-middle(style="background-color: #F4F2F2")
    .container
        img.page-img-full(src="img/content/project-modified/image-2.jpg" alt="Image")
section.section-middle
    .container
        img.page-img-full(src="img/content/project-modified/image-1.jpg" alt="Image")