section.section-middle
    .container
        h1.car-model__title 2012 Cadillac Escalade Lexani Johnson 26x10.0
        picture
            source(srcset="img/content/project-modified/image-3.webp", type="image/webp")
            img.page-img-full.page-img-big(src="img/content/project-modified/image-3.jpg" alt="Image")
section.section-middle.beige-bg
    .container
        picture
            source(srcset="img/content/project-modified/image-2.webp", type="image/webp")
            img.page-img-full.page-img-big(src="img/content/project-modified/image-2.jpg" alt="Image")
section.section-middle
    .container
        picture
            source(srcset="img/content/project-modified/image-1.webp", type="image/webp")
            img.page-img-full.page-img-big(src="img/content/project-modified/image-1.jpg" alt="Image")