section.car-characteristics
    .container
        .car-characteristics__wrap
            .car-characteristics__list
                .car-characteristics__item
                    .car-characteristics__img.car-characteristics__img--small
                        img(src="img/content/wheels/wheel-1.png")
                    .car-characteristics__info
                        .car-characteristics__title
                            span Wheel Size
                            .tooltip
                                span.tooltip__question ?
                                .tooltip__info
                                    p.tooltip__text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        span.car-characteristics__text-blue 26x10.0
                .car-characteristics__item
                    .car-characteristics__img.car-characteristics__img--small
                        img(src="img/content/wheels/wheel-2.png")
                    .car-characteristics__info
                        .car-characteristics__title
                            span Wheel Offset
                            .tooltip
                                span.tooltip__question ?
                                .tooltip__info
                                    p.tooltip__text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        span.car-characteristics__text +34
                .car-characteristics__item
                    .car-characteristics__img.car-characteristics__img--small
                        img(src="img/content/wheels/wheel-3.png")
                    .car-characteristics__info
                        .car-characteristics__title Wheel Backspasing
                        span.car-characteristics__text 6.09”
            .car-characteristics__list
                .car-characteristics__item
                    .car-characteristics__img.car-characteristics__img--small
                        img(src="img/content/wheels/wheel-4.png")
                    .car-characteristics__info
                        .car-characteristics__title Wheel Brand
                        span.car-characteristics__text Lexani
                .car-characteristics__item
                    .car-characteristics__img.car-characteristics__img--small
                        img(src="img/content/wheels/wheel-5.png")
                    .car-characteristics__info
                        .car-characteristics__title
                            span Tire size
                            .tooltip
                                span.tooltip__question ?
                                .tooltip__info
                                    p.tooltip__text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        span.car-characteristics__text-blue P 305\30 R26
                .car-characteristics__item
                    .car-characteristics__img.car-characteristics__img--small
                        img(src="img/content/wheels/wheel-6.png")
                    .car-characteristics__info
                        .car-characteristics__title
                            span Tire Brand
                            .tooltip
                                span.tooltip__question ?
                                .tooltip__info
                                    p.tooltip__text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        span.car-characteristics__text-blue Michelin Pilot SuperSports
        p.page-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        p.page-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.