section.question-answer
    .container
        h2.page-title Faq
        .faq
            .faq__item
                p.faq__question – Will the wheels 18x9.0 45 offset with P 245/45 R18 tires fit on a 2012 Cadillac Escalade?
                p.fag__answer – Yes, they will fit. As you can see from the pics this 2012 Cadillac Escalade is running Falken RT-7M 18x9.0 with 6.77” backspacing and Falken Ziex 612 P 245/45 R18 tires.
            .faq__item
                p.faq__question – What is the price for Michelin Pilot SuperSports with P 305/30 R26?
                p.faq__answer – According ot Tirerack the setup of 4 tires costs 812 USD.
            .faq__item
                p.faq__question – Will the wheels 18x9.0 45 offset with P 245/45 R18 tires fit on a 2012 Cadillac Escalade?
                p.faq__answer – Yes, they will fit. As you can see from the pics this 2012 Cadillac Escalade is running Falken RT-7M 18x9.0 with 6.77” backspacing and Falken Ziex 612 P 245/45 R18 tires.
            .faq__item
                p.faq__question – What is the price for Michelin Pilot SuperSports with P 305/30 R26?
                p.faq__answer – According ot Tirerack the setup of 4 tires costs 812 USD.



