//colors for cadillac
$accent_color: #0472AF;
$black_color: #434343;
$grey_color_light: #F4F2F2;

//colors for chevrolet
//$accent_color: #D2A02F;
//$black_color: #4F4F51;
//$grey_color_light: #F4F2F2;

//colors for honda
//$accent_color: #CC0001;
//$black_color: #000000;
//$grey_color_light: #EDEDED;

//colors for dodge
//$accent_color: #FF0000;
//$black_color: #000000;
//$grey_color_light: #F4F2F2;

//colors for ford
//$accent_color: #092A46;
//$black_color: #434343;
//$grey_color_light: #F4F2F2;

//colors for gmc
//$accent_color: #CE0101;
//$black_color: #000000;
//$grey_color_light: #F4F2F2;

//colors for jeep
//$accent_color: #FFBA00;
//$black_color: #000000;
//$grey_color_light: #F4F2F2;

//colors for acura
//$accent_color: #B60404;
//$black_color: #000000;
//$grey_color_light: #F4F2F2;

//colors for bmw
//$accent_color: #0066B1;
//$black_color: #434343;
//$grey_color_light: #F4F2F2;

//colors for chrysler
//$accent_color: #063E77;
//$black_color: #222222;
//$grey_color_light: #F4F2F2;

//colors for hyundai
//$accent_color: #5B7EA8;
//$black_color: #000000;
//$grey_color_light: #F4F2F2;

//colors for infinity
//$accent_color: #000000;
//$black_color: #434343;
//$grey_color_light: #F4F2F2;

//colors for kia
//$accent_color: #000000;
//$black_color: #4F4F51;
//$grey_color_light: #F4F2F2;

//colors for mazda
//$accent_color: #4B4B4B;
//$black_color: #222222;
//$grey_color_light: #F4F2F2;

//colors for mercedes-benz
//$accent_color: #176DB7;
//$black_color: #000000;
//$grey_color_light: #E8F1F8;

//colors for nissan
//$accent_color: #C3002F;
//$black_color: #000000;
//$grey_color_light: #F4F2F2;

//colors for ram
//$accent_color: #880D00;
//$black_color: #000000;
//$grey_color_light: #F4F2F2;

//colors for toyota
//$accent_color: #EC0318;
//$black_color: #000000;
//$grey_color_light: #DDDDDD;

//colors for volkswagen
//$accent_color: #002E63;
//$black_color: #000000;
//$grey_color_light: #F4F2F2;

//colors for volvo
//$accent_color: #A27677;
//$black_color: #000000;
//$grey_color_light: #F4F2F2;

//colors for subaru
//$accent_color: #1E99FF;
//$black_color: #232323;
//$grey_color_light: #EFEFEF;

$grey_color_medium: #D6D6D6;
$white_color: #fff;

$container_width: 1140px;

$base_font_family: Nunito, Arial, sans-serif;
$page_font_family: "Disket Mono", Arial, sans-serif;