//colors for cadillac
//$accent_color: #0472AF;
//$black_color: #434343;
//$grey_color_light: #F4F2F2;

//colors for chevrolet
//$accent_color: #D2A02F;
//$black_color: #4F4F51;
//$grey_color_light: #F4F2F2;

//colors for honda
$accent_color: #CC0001;
$black_color: #000000;
$grey_color_light: #EDEDED;

$grey_color_medium: #D6D6D6;
$white_color: #fff;

$container_width: 1140px;

$base_font_family: Nunito, Arial, sans-serif;
$page_font_family: "Disket Mono", Arial, sans-serif;