.blogpost {
    .container {
        max-width: 760px;
    }
    p {
        margin: 0 0 20px;
        font-size: 19px;
        line-height: 1.6;
    }
    h2, h3 {
        padding: 20px 0;
    }
    table th, table td {
        padding: 20px;
        border: 0.5px solid #ededed;
    }
    ul {
        padding-left: 30px;
        li {
            padding-left: 20px;
            font-size: 19px;
            line-height: 1.6;
            &::before {
                top: 10px;
            }
        }
    }
}