.btn {
  padding: 0 10px;
  background-color: $color-accent;
  display: block;
  margin: 0 auto;
  max-width: 220px;
  width: 100%;
  height: 46px;
  line-height: 46px;
  text-align: center;
  color: $white_color;
  border-radius: 20px;
  font-size: 16px;
  transition: background-color .3s, transform .3s;
  &:hover {
    background-color: lighten($color-accent, 10%);
  }
  &:active {
    background-color: darken($color-accent, 5%);
    transform: scale(.9);
  }
  &:focus {
    box-shadow: 0px 0px 4px rgba(#000, 0.25);
  }
  &--small {
    max-width: 190px;
    width: 100%;
    margin: 0;
  }
  &--xsmall {
    max-width: 130px;
    width: 100%;
    margin: 0;
  }
  &-dropdown {
    display: inline-flex;
    justify-content: flex-start;
    padding: 0 15px;
    position: relative;

    background-color: #fff;
    max-width: 220px;
    width: 100%;
    height: 46px;
    line-height: 46px;
    color: $color-black;
    border-radius: 20px;
    border: 1px solid $grey_color_medium;
    font-size: 16px;
    transition: color .3s, background-color .3s, transform .3s;
    &:hover, &.active {
      background-color: lighten($color-accent, 10%);
      border-color: lighten($color-accent, 10%);
      color: #fff;
      &::after {
        border-color: #fff;
        transform: rotate(225deg);
      }
    }
    &:active {
      background-color: darken($color-accent, 5%);
      border-color: darken($color-accent, 5%);
      transform: scale(.9);
    }
    &:focus {
      box-shadow: 0px 0px 4px rgba(#000, 0.25);
    }

    &::after {
      content: '';
      display: inline-flex;
      position: absolute;
      top: 50%;
      margin-top: -7px;
      right: 15px;
      width: 8px;
      height: 8px;
      border-bottom: 2px solid $color-accent;
      border-right: 2px solid $color-accent;
      border-radius: 2px;
      transform: rotate(45deg);
      transition: border-color .3s, transform .3s;
    }
  }
  img {
    margin-left: 5px;
    position: relative;
    top: 4px;
  }
  &-favorite {
    margin-left: 20px;
    padding: 0;
    background-color: transparent;
    transition: transform .3s;
    @include media-xs {
      margin-left: 10px;
    }
    &__icon {
      width: 23px;
      height: 23px;
      color: $color-black;
      transition: fill .3s;
    }
    &:hover, &.active {
      transform: scale(1.2);
      .btn-favorite__icon {
        fill: $color-accent;
      }
    }
    &:active {
      transform: scale(.9);
    }
  }
}

