.filters {
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
  &-nav {
    
  }
  &-box {
    display: flex;
    &__group {
      display: flex;
      flex-direction: column;
      width: 150px;
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
    &__label {
      margin-bottom: 5px;
      font-weight: 600;
    }
  }
}