.select {
  &__wrap {
    position: relative;
    .select2-container .select2-selection--single .select2-selection__rendered  {
      padding-left: 30px;
      line-height: 36px;
    }
    .select2-container--default .select2-selection--single {
      border-color: $grey_color_medium;
      border-radius: 5px;
    }
    .select2-dropdown, 
    .select2-container--default .select2-search--dropdown .select2-search__field {
      border-color: $grey_color_medium;
    }
  }
  &-icon-location, &-icon-caret-down {
    position: absolute;
    z-index: 1;
    pointer-events: none;
  }
  &-icon-location {
    left: 5px;
    top: 8px;
    width: 22px;
    height: 22px;
    fill: $color-accent;
  }
  &-icon-caret-down {
    position: absolute;
    top: 16px;
    right: 5px;
    width: 14px;
    height: 7px;
    fill: none;
    stroke: $color-accent;
    stroke-width: 2;
  }
}

.field {
  padding: 0 10px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid $grey_color_medium;
}