.select {
  &-wrap {
    position: relative;
    .select2-container .select2-selection--single .select2-selection__rendered  {
      padding-left: 30px;
    }
    
  }
  &-icon-location {
    position: absolute;
    z-index: 1;
    pointer-events: none;
  }
  &-icon-location {
    left: 5px;
    top: 8px;
    width: 22px;
    height: 22px;
    fill: $color-accent;
  }
}