.btn {
  &:hover {
    background-color: lighten($accent_color, 10%);
  }
  &:active {
    background-color: darken($accent_color, 5%);
    transform: scale(.9);
  }
  &:focus {
    box-shadow: 0px 0px 4px rgba(#000, 0.25);
  }
  &--small {
    min-width: 190px;
    margin: 0;
  }
  &--xsmall {
    min-width: 130px;
    margin: 0;
  }
}

