.car-characteristics {
  padding: 40px 0;

  &__wrap {
    display: flex;
    margin-bottom: 45px;
    @include media-mds {
      display: block;
      margin-bottom: 30px;
    }
  }
  &__container {
    max-width: 680px;
    display: flex;
    margin-bottom: 45px;
    @include media-mds {
      display: block;
      margin-bottom: 30px;
    }
  }

  &__list {
    flex: 1;

    &:not(:first-child) {
      @include media-mds {
        margin-top: 40px;
      }
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
  &__linkblock {
    @include position(absolute, $top: 0, $right: 0, $bottom: 0, $left: 0)
  }

  &__table {
    max-width: 680px;
    margin: 35px 0;
  }
  &__row {
    display: flex;
    @include media-sm {
      flex-wrap: wrap;
    }
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__col {
    display: flex;
    align-items: center;
    &:first-child {
      width: 60%;
      @include media-md {
        width: 50%;
      }
      @include media-sm {
        position: relative;
        padding-left: 60px;
        width: 100%;
        .car-characteristics__img {
          @include position(absolute, $top: 0, $left: 0);
        }
      }
    }
    &:not(:first-child) {
      flex: 1;
      @include media-sm {
        flex: none;
      }
    }
    & > *:not(:last-child) {
      margin-right: 10px;
    }
    &:nth-child(2) {
      @include media-sm {
        padding-left: 60px;
        margin-right: 10px;
      }
    }
  }

  &__img {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;

    &--small {
      width: 50px;
    }

    &--middle {
      width: 95px;
      min-height: 60px;
    }

    &--big {
      width: 125px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__title {
    display: block;
    flex: none;
    font-size: 18px;
    font-weight: 600;

  }
  &__title-blue {
    display: block;
    flex: none;
    font-size: 18px;
    font-weight: 600;
    color: $accent_color;
  }

  &__link {
    color: $accent_color;
  }
}