.mobile-menu {
  display: none;
  margin-right: auto;
  margin-left: -10px;
  @include media-md {
    display: block;
  }
}
.mobile-menu__nav {
  position: absolute;
  z-index: 100;
  top: calc(100% + 10px);
  left: 0;
  padding: 30px 25px;
  width: 290px;
  min-height: 100vh;
  color: #fff;
  font-size: 18px;
  background-color: $accent_color;
  transform: translateX(calc(-100vw + 20px));
  transition: transform .3s;
}
.mobile-menu__nav.is-open {
  transform: translateX(0);
}
.mobile-menu__item {
  margin-bottom: 20px;
}
.mobile-menu__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white_color;
}

.hamburger {
  width: 64px;
  height: 64px;
  transform: scale(0.7);
  -webkit-touch-callout: none;
  user-select: none;
}
.hamburger__top,
.hamburger__bottom {
  position: absolute;
  display: block;
  height: 4px;
  width: 36px;
  border-radius: 2px;
  background: #fff;
  transform-origin: 34px 2px;
  transform: rotate(0deg);
  transition: all 500ms cubic-bezier(0.8, -1.1, 0.5, 1.9);
}
.hamburger__top {
  top: 19px;
  left: 14px;
}
.hamburger__bottom {
  top: 41px;
  left: 14px;
}
.hamburger path,
.hamburger line {
  stroke: #fff;
  stroke-linecap: round;
}
#circle {
  stroke-dasharray: 1 100 32 300;
  stroke-dashoffset: 101;
  transition: all 750ms ease;
}
.hamburger.is-closed #circle {
  stroke-dasharray: 1 100 190 300;
  stroke-dashoffset: 1;
}
.hamburger.is-closed .hamburger__top {
  transform: translateX(-4.5px) rotate(-45deg);
}
.hamburger.is-closed .hamburger__bottom {
  transform: translateX(-4.5px) rotate(45deg);
}

.mobile-menu-dropdown {
  margin-top: 15px;
  display: none;
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    text-align: center;
    margin-bottom: 15px;
    max-width: 100px;
  }
  &__img {
    max-width: 100%;
  }
  &__title {
    display: block;
    font-size: 15px;
    color: $white_color;
  }
}

.mobile-menu-search {
  position: relative;
  &__field {
    width: 100%;
    padding: 10px 45px 10px 15px;
    border-radius: 15px;
    border: none;
  }
  &__btn {
    @include position(absolute, $right: 5px, $bottom: 5px);
    padding: 0;
    background: transparent;
  }
  &__icon {
    @include size(28px);
    fill: none;
    stroke-width: 2;
    stroke: $accent_color;
  }
}