.nav {
  &__item {
    &:hover {
      .nav__link-icon {
        transform: rotate(180deg);
      }
      .nav-dropdown {
        display: flex;
      }
    }
    @include media-lg {
      margin-right: 5px;
    }
  }
  &__link {
    @include media-lg {
      padding: 10px 10px 20px;
    }
  }

  &-dropdown {
    &__item {
      margin: 15px;
      text-align: center;
      width: 20%;
      &:hover {
        .nav-dropdown__img {
          filter: drop-shadow(0px 1px 1px rgba(#000, 0.1));
        }
      }
    }
    &__img {
      @include size(86px);
      filter: drop-shadow(0px 4px 4px rgba(#000, 0.25));
      border-radius: 15px;
      transition: filter .3s;
    }
    &__title {
      display: block;
      color: $color-black;
    }
  }
}

@keyframes openMenu {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}