.preview-slider {
  @include media-mds {
    margin-top: 35px;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  &__item {
    @include media-mds {
      &:not(:last-child) {
        margin-bottom: 20px;
        margin-right: 0;
      }
    }
    &.hide {
      display: none !important;
    }
  }
  &__navigation {
    @include media-mds {
      display: none;
    }
  }
  &__btn {
    &:hover {
      .preview-slider__arrow {
        transform: scale(1.3);
      }
    }
    &:active {
      .preview-slider__arrow {
        transform: scale(.9);
      }
    }
  }
}