.site-select {
  &.active {
    .site-select-dropdown {
      max-height: 240px;
    }
    .footer__title-icon {
      transform: rotate(180deg);
    }
  }
}

.site-select-current {
  cursor: pointer;
}

.site-select-dropdown {
  width: 100%;
  margin-top: 10px;
  transition: all .3s ease;
  .simplebar-scrollbar {
    margin-right: 2px;
    &::before {
      background-color: #fff;
    }
  }
  &__content {
    max-height: 230px;
    padding: 10px 20px 10px 10px;
    border: 1px solid #fff;
  }

  &__item {
    text-align: left;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__link {
    color: #ffffff;
  }
}