.footer {
  padding: 25px 0;
  margin-top: auto;
  &__container {
    display: flex;
    @include media-xl {
      flex-wrap: wrap;
    }
  }
  &__item {
    flex: 1;
    @include media-md {
      flex: auto;
    }
    @include media-sm {
      width: 100%;
    }
    &:not(:last-child) {
      margin-right: 30px;
      @include media-sm {
        margin-right: 0;
      }
    }
    &:nth-child(1) {
      @include media-xl {
        order: 4;
        width: 100%;
        flex: auto;
        margin-right: 0;
        margin-top: 30px;
        text-align: right;
      }
    }
    &:nth-child(2) {
      @include media-xl {
        order: 1;
      }
    }
    &:nth-child(3) {
      @include media-xl {
        order: 2;
      }
    }
    &:nth-child(4) {
      @include media-xl {
        order: 3;
      }
    }
  }
  &__title {
    margin-bottom: 15px;
    color: $white_color;
    font-size: 18px;
    text-transform: uppercase;
    @include media-sm {
      display: flex;
      justify-content: space-between;
    }
    &-icon {
      @include size(14px, 7px);
      stroke: $white_color;
      stroke-width: 2;
      fill: none;
      display: none;
      @include media-sm {
        display: inline-flex;
      }
    }
  }
  &__links {
    @include media-sm {
      display: none;
      margin-bottom: 20px;
    }
  }
  &__link {
    display: block;
    margin-bottom: 5px;
    color: $white_color;
    font-size: 15px;
  }
}