section.section-middle 
    .container
        h2.section-title Comments
        .comments
            .comments__item
                .comments__header
                    .comments__avatar.no-pict
                    .comments__info
                        span.comments__name David of Nokomis
                        span.comments__date 28.03.2023
                .comments__body
                    .block-hidden.js-hide-block
                        .block-hidden__inner.js-hide-block-inner
                            p I have been unable to drive my 2020 Acura MDX for over five months because a replacement motor mount bracket is on national backorder with no ETA available. It is not available in the after-market or used.
                            p In desperation, I contacted the Acura Brand Officer for assistance in locating the part or at least providing an ETA so I could make a decision regarding a replacement vehicle. He referred my issue to Acura Client Care.
                    span.show-block.js-show-block Read more >
                    .comments-replies
                        +icon("arrow-up", "comments-replies__arrow-up")
                        h6.comments-replies__title 1 Reply
                        .block-hidden.js-hide-block
                            .block-hidden__inner.js-hide-block-inner
                                .comments-replies__item
                                    .comments-replies__header 
                                        .comments-replies__avatar.no-pict
                                        .comments-replies__info
                                            span.comments-replies__name David of Nokomis
                                            span.comments-replies__date 28.03.2023
                                    .comments-replies__body
                                        p I have been unable to drive my 2020 Acura MDX for over five months because a replacement motor mount bracket is on national backorder with no ETA available. It is not available in the after-market or used.
                                        p In desperation, I contacted the Acura Brand Officer for assistance in locating the part or at least providing an ETA so I could make a decision regarding a replacement vehicle. He referred my issue to Acura Client Care.
                        span.show-block.js-show-block Read more >
                .comments__footer 
                    button.comments__btn.js-add-answer
                        +icon("reply", "comments__btn-reply")
                        span.comments__btn-text Reply 
                    form.form
                        .form__group
                            label.form__label Name*
                            input.form__field.error(type="text")
                            span.form__error Error
                        .form__group
                            label.form__label E-mail*
                            input.form__field(type="text")
                            span.form__error
                        .form__group
                            label.form__label Phone*
                            input.form__field(type="text")
                            span.form__error
                        .form__group
                            label.form__label Comment*
                            textarea.form__message.error
                            span.form__error Error
                        .form__footer
                            .g-recaptcha(data-sitekey="6KepjAsTFFFFFFMqccY0ZiGqc3TEd3YVxo8cHsGX", style="max-width: 100%")
                            button.form__btn.btn.btn--xsmall.js-send-commenz(type="submit") Send
            .comments__item
                .comments__header
                    .comments__avatar.no-pict
                    .comments__info
                        span.comments__name David of Nokomis
                        span.comments__date 28.03.2023
                .comments__body
                    .block-hidden.js-hide-block
                        .block-hidden__inner.js-hide-block-inner
                            p I have been unable to drive my 2020 Acura MDX for over five months because a replacement motor mount bracket is on national backorder with no ETA available. It is not available in the after-market or used.
                            p In desperation, I contacted the Acura Brand Officer for assistance in locating the part or at least providing an ETA so I could make a decision regarding a replacement vehicle. He referred my issue to Acura Client Care.
                            p I have been unable to drive my 2020 Acura MDX for over five months because a replacement motor mount bracket is on national backorder with no ETA available. It is not available in the after-market or used.
                            p In desperation, I contacted the Acura Brand Officer for assistance in locating the part or at least providing an ETA so I could make a decision regarding a replacement vehicle. He referred my issue to Acura Client Care.
                            p In desperation, I contacted the Acura Brand Officer for assistance in locating the part or at least providing an ETA so I could make a decision regarding a replacement vehicle. He referred my issue to Acura Client Care.
                    span.show-block.js-show-block Read more >
                    .comments-replies
                        +icon("arrow-up", "comments-replies__arrow-up")
                        h6.comments-replies__title 2 Replies
                        .block-hidden.js-hide-block
                            .block-hidden__inner.js-hide-block-inner
                                .comments-replies__item
                                    .comments-replies__header 
                                        .comments-replies__avatar.no-pict
                                        .comments-replies__info
                                            span.comments-replies__name David of Nokomis
                                            span.comments-replies__date 28.03.2023
                                    .comments-replies__body
                                        p I have been unable to drive my 2020 Acura MDX for over five months because a replacement motor mount bracket is on national backorder with no ETA available. It is not available in the after-market or used.
                                        p In desperation, I contacted the Acura Brand Officer for assistance in locating the part or at least providing an ETA so I could make a decision regarding a replacement vehicle. He referred my issue to Acura Client Care.
                                .comments-replies__item
                                    .comments-replies__header 
                                        .comments-replies__avatar.no-pict
                                        .comments-replies__info
                                            span.comments-replies__name David of Nokomis
                                            span.comments-replies__date 28.03.2023
                                    .comments-replies__body
                                        p I have been unable to drive my 2020 Acura MDX for over five months because a replacement motor mount bracket is on national backorder with no ETA available. It is not available in the after-market or used.
                                        p In desperation, I contacted the Acura Brand Officer for assistance in locating the part or at least providing an ETA so I could make a decision regarding a replacement vehicle. He referred my issue to Acura Client Care.
                        span.show-block.js-show-block Read more >
                .comments__footer 
                    button.comments__btn.js-add-answer
                        +icon("reply", "comments__btn-reply")
                        span.comments__btn-text Reply
                    form.form
                        .form__group
                            label.form__label Name*
                            input.form__field.error(type="text")
                            span.form__error Error
                        .form__group
                            label.form__label E-mail*
                            input.form__field(type="text")
                            span.form__error
                        .form__group
                            label.form__label Phone*
                            input.form__field(type="text")
                            span.form__error
                        .form__group
                            label.form__label Comment*
                            textarea.form__message.error
                            span.form__error Error
                        .form__footer
                            .g-recaptcha(data-sitekey="6KepjAsTFFFFFFMqccY0ZiGqc3TEd3YVxo8cHsGX", style="max-width: 100%")
                            button.form__btn.btn.btn--xsmall.js-send-commenz(type="submit") Send
            .comments__item
                .comments__header
                    .comments__avatar.no-pict
                    .comments__info
                        span.comments__name David of Nokomis
                        span.comments__date 28.03.2023
                .comments__body
                    .block-hidden.js-hide-block
                        .block-hidden__inner.js-hide-block-inner
                            p In desperation, I contacted the Acura Brand Officer for assistance in locating the part or at least providing an ETA so I could make a decision regarding a replacement vehicle. He referred my issue to Acura Client Care.He referred my issue to Acura Client Care. He referred my issue to
                            p In desperation, I contacted the Acura Brand Officer for assistance in locating the part or at least providing an ETA so I could make a decision regarding a replacement vehicle. He referred my issue to Acura Client Care.He referred my issue to Acura Client Care. He referred my issue to
                            p In desperation, I contacted the Acura Brand Officer for assistance in locating the part or at least providing an ETA so I could make a decision regarding a replacement vehicle. He referred my issue to Acura Client Care.He referred my issue to Acura Client Care. He referred my issue to
                            p In desperation, I contacted the Acura Brand Officer for assistance in locating the part or at least providing an ETA so I could make a decision regarding a replacement vehicle. He referred my issue to Acura Client Care.He referred my issue to Acura Client Care. He referred my issue to
                            p In desperation, I contacted the Acura Brand Officer for assistance in locating the part or at least providing an ETA so I could make a decision regarding a replacement vehicle. He referred my issue to Acura Client Care.He referred my issue to Acura Client Care. He referred my issue to
                            p In desperation, I contacted the Acura Brand Officer for assistance in locating the part or at least providing an ETA so I could make a decision regarding a replacement vehicle. He referred my issue to Acura Client Care.He referred my issue to Acura Client Care. He referred my issue to
                            p In desperation, I contacted the Acura Brand Officer for assistance in locating the part or at least providing an ETA so I could make a decision regarding a replacement vehicle. He referred my issue to Acura Client Care.He referred my issue to Acura Client Care. He referred my issue to
                           
                    span.show-block.js-show-block Read more >
                    .comments-replies
                        +icon("arrow-up", "comments-replies__arrow-up")
                        h6.comments-replies__title 5 Replies
                        .block-hidden.js-hide-block
                            .block-hidden__inner.js-hide-block-inner
                                .comments-replies__item
                                    .comments-replies__header 
                                        .comments-replies__avatar.no-pict
                                        .comments-replies__info
                                            span.comments-replies__name David of Nokomis
                                            span.comments-replies__date 28.03.2023
                                    .comments-replies__body
                                        p I have been unable to drive my 2020 Acura MDX for over five months because a replacement motor mount bracket is on national backorder with no ETA available. It is not available in the after-market or used.
                                        p In desperation, I contacted the Acura Brand Officer for assistance in locating the part or at least providing an ETA so I could make a decision regarding a replacement vehicle. He referred my issue to Acura Client Care.
                                .comments-replies__item
                                    .comments-replies__header 
                                        .comments-replies__avatar.no-pict
                                        .comments-replies__info
                                            span.comments-replies__name David of Nokomis
                                            span.comments-replies__date 28.03.2023
                                    .comments-replies__body
                                        p I have been unable to drive my 2020 Acura MDX for over five months because a replacement motor mount bracket is on national backorder with no ETA available. It is not available in the after-market or used.
                                        p In desperation, I contacted the Acura Brand Officer for assistance in locating the part or at least providing an ETA so I could make a decision regarding a replacement vehicle. He referred my issue to Acura Client Care.
                                .comments-replies__item
                                    .comments-replies__header 
                                        .comments-replies__avatar.no-pict
                                        .comments-replies__info
                                            span.comments-replies__name David of Nokomis
                                            span.comments-replies__date 28.03.2023
                                    .comments-replies__body
                                        p I have been unable to drive my 2020 Acura MDX for over five months because a replacement motor mount bracket is on national backorder with no ETA available. It is not available in the after-market or used.
                                        p In desperation, I contacted the Acura Brand Officer for assistance in locating the part or at least providing an ETA so I could make a decision regarding a replacement vehicle. He referred my issue to Acura Client Care.
                                .comments-replies__item
                                    .comments-replies__header 
                                        .comments-replies__avatar.no-pict
                                        .comments-replies__info
                                            span.comments-replies__name David of Nokomis
                                            span.comments-replies__date 28.03.2023
                                    .comments-replies__body
                                        p I have been unable to drive my 2020 Acura MDX for over five months because a replacement motor mount bracket is on national backorder with no ETA available. It is not available in the after-market or used.
                                        p In desperation, I contacted the Acura Brand Officer for assistance in locating the part or at least providing an ETA so I could make a decision regarding a replacement vehicle. He referred my issue to Acura Client Care.
                                .comments-replies__item
                                    .comments-replies__header 
                                        .comments-replies__avatar.no-pict
                                        .comments-replies__info
                                            span.comments-replies__name David of Nokomis
                                            span.comments-replies__date 28.03.2023
                                    .comments-replies__body
                                        p I have been unable to drive my 2020 Acura MDX for over five months because a replacement motor mount bracket is on national backorder with no ETA available. It is not available in the after-market or used.
                                        p In desperation, I contacted the Acura Brand Officer for assistance in locating the part or at least providing an ETA so I could make a decision regarding a replacement vehicle. He referred my issue to Acura Client Care.
                        span.show-block.js-show-block Read more >
                .comments__footer 
                    button.comments__btn.js-add-answer
                        +icon("reply", "comments__btn-reply")
                        span.comments__btn-text Reply
                    form.form
                        .form__group
                            label.form__label Name*
                            input.form__field.error(type="text")
                            span.form__error Error
                        .form__group
                            label.form__label E-mail*
                            input.form__field(type="text")
                            span.form__error
                        .form__group
                            label.form__label Phone*
                            input.form__field(type="text")
                            span.form__error
                        .form__group
                            label.form__label Comment*
                            textarea.form__message.error
                            span.form__error Error
                        .form__footer
                            .g-recaptcha(data-sitekey="6KepjAsTFFFFFFMqccY0ZiGqc3TEd3YVxo8cHsGX", style="max-width: 100%")
                            button.form__btn.btn.btn--xsmall.js-send-commenz(type="submit") Send
        form.form
            .form__group
                label.form__label Name*
                input.form__field.error(type="text")
                span.form__error Error
            .form__group
                label.form__label E-mail*
                input.form__field(type="text")
                span.form__error
            .form__group
                label.form__label Phone*
                input.form__field.error(type="text")
                span.form__error Error
            .form__group
                label.form__label Subject*
                select.form__select.js-slimselect
                    option Choose subject   
                    option Subject 1
                    option Subject 2
                    option Subject 3
                    option Subject 4
                    option Subject 5
                    option Subject 6
                    option Subject 7
                    option Subject 8
                    option Subject 9
                    option Subject 10
                    option Subject 11
                    option Subject 12
                    option Subject 13
                    option Subject 14
                    option Subject 15
                    option Subject 16
                    option Subject 17
                    option Subject 18
                    option Subject 19
                    option Subject 20
                    option Subject 21
                    option Subject 22
                    option Subject 23
                    option Subject 24
                    option Subject 25
                    option Subject 26
                    option Subject 27
                    option Subject 28
                    option Subject 29
                    option Subject 30   
                span.form__error
            .form__group
                label.form__label Comment*
                textarea.form__message.error
                span.form__error Error
            .form__footer
                .g-recaptcha(data-sitekey="6KepjAsTFFFFFFMqccY0ZiGqc3TEd3YVxo8cHsGX", style="max-width: 100%")
                button.form__btn.btn.btn--xsmall.js-send-commenz(type="submit") Send