.modal.modal--m#add-comment
    .modal__inner(data-simplebar, data-simplebar-auto-hide="false")
        .modal__dialog
            btn.modal__dialog-close-btn.js-modal-close
                span &times;
            form.form
                .form__group
                    label.form__label Name*
                    input.form__field.error(type="text")
                    span.form__error Error
                .form__group
                    label.form__label E-mail*
                    input.form__field(type="text")
                    span.form__error
                .form__group
                    label.form__label Phone*
                    input.form__field.error(type="text")
                    span.form__error Error
                .form__group
                    label.form__label Subject*
                    select.form__select.js-slimselect
                        option Choose subject   
                        option Subject 1
                        option Subject 2
                        option Subject 3
                        option Subject 4
                        option Subject 5
                        option Subject 6
                        option Subject 7
                        option Subject 8
                        option Subject 9
                        option Subject 10
                        option Subject 11
                        option Subject 12
                        option Subject 13
                        option Subject 14
                        option Subject 15
                        option Subject 16
                        option Subject 17
                        option Subject 18
                        option Subject 19
                        option Subject 20
                        option Subject 21
                        option Subject 22
                        option Subject 23
                        option Subject 24
                        option Subject 25
                        option Subject 26
                        option Subject 27
                        option Subject 28
                        option Subject 29
                        option Subject 30   
                    span.form__error
                .form__group
                    label.form__label Comment*
                    textarea.form__message.error
                    span.form__error Error
                .form__footer
                    .g-recaptcha(data-sitekey="6KepjAsTFFFFFFMqccY0ZiGqc3TEd3YVxo8cHsGX", style="max-width: 100%")
                    button.form__btn.btn.btn--xsmall.js-send-commenz(type="submit") Send