section.section-middle
    .container
        h2.page-title
            a(href="#") 18’ Wheels
        .cards
            a.card(href="#")
                img.card__img(src="img/content/18_wheels/18_wheels-1.png" alt="Img")
                span.card__title Stock Lexari 305\30 R26 on ADV.1 10R Deep Concave CS 24x10.0
            a.card(href="#")
                img.card__img(src="img/content/18_wheels/18_wheels-2.png" alt="Img")
                span.card__title Stock Lexari 305\30 R26 on ADV.1 10R Deep Concave CS 24x10.0
            a.card(href="#")
                img.card__img(src="img/content/18_wheels/18_wheels-3.png" alt="Img")
                span.card__title 10R Deep Concave CS 24x10.0
            a.card(href="#")
                img.card__img(src="img/content/18_wheels/18_wheels-4.png" alt="Img")
                span.card__title Stock Lexari 305\30 R26 on ADV.1 10R Deep Concave CS 24x10.0
            a.card(href="#")
                img.card__img(src="img/content/18_wheels/18_wheels-5.png" alt="Img")
                span.card__title Stock Lexari 305\30 R26 on ADV.1 10R Deep Concave CS 24x10.0
            a.card(href="#")
                img.card__img(src="img/content/18_wheels/18_wheels-6.png" alt="Img")
                span.card__title Stock Lexari 305\30 R26 on ADV.1 10R Deep Concave CS 24x10.0
            a.card(href="#")
                img.card__img(src="img/content/18_wheels/18_wheels-7.png" alt="Img")
                span.card__title 10R Deep Concave CS 24x10.0
            a.card(href="#")
                img.card__img(src="img/content/18_wheels/18_wheels-8.png" alt="Img")
                span.card__title Stock Lexari 305\30 R26 on ADV.1 10R Deep Concave CS 24x10.0
            span.cards-show-more.js-cards-show-more Show more
