section.trending.section-middle(style="background-color: #F4F2F2")
    .container
        h2.page-title Trending
        .cards
            a.card(href="#")
                img.card__img(src="img/content/trending/trending-1.png" alt="Img")
                span.card__title Stock Lexari 305\30 R26 on ADV.1 10R Deep Concave CS 24x10.0
            a.card(href="#")
                img.card__img(src="img/content/trending/trending-2.png" alt="Img")
                span.card__title Stock Lexari 305\30 R26 on ADV.1 10R Deep Concave CS 24x10.0
            a.card(href="#")
                img.card__img(src="img/content/trending/trending-3.png" alt="Img")
                span.card__title 10R Deep Concave CS 24x10.0
            a.card(href="#")
                img.card__img(src="img/content/trending/trending-4.png" alt="Img")
                span.card__title Stock Lexari 305\30 R26 on ADV.1 10R Deep Concave CS 24x10.0
            a.card(href="#")
                img.card__img(src="img/content/trending/trending-5.png" alt="Img")
                span.card__title Stock Lexari 305\30 R26 on ADV.1 10R Deep Concave CS 24x10.0
            a.card(href="#")
                img.card__img(src="img/content/trending/trending-6.png" alt="Img")
                span.card__title Stock Lexari 305\30 R26 on ADV.1 10R Deep Concave CS 24x10.0
            a.card(href="#")
                img.card__img(src="img/content/trending/trending-7.png" alt="Img")
                span.card__title 10R Deep Concave CS 24x10.0
            a.card(href="#")
                img.card__img(src="img/content/trending/trending-8.png" alt="Img")
                span.card__title Stock Lexari 305\30 R26 on ADV.1 10R Deep Concave CS 24x10.0
            span.cards-show-more.js-cards-show-more Show more
