/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font: 1em monospace, monospace;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito-Regular"), url(../fonts/Nunito-Regular.woff) format("woff"), url(../fonts/Nunito-Regular.woff2) format("woff2"), url(../fonts/Nunito-Regular.ttf) format("ttf"), url(../fonts/Nunito-Regular.eot) format("eot");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito-SemiBold"), url(../fonts/Nunito-SemiBold.woff) format("woff"), url(../fonts/Nunito-SemiBold.woff2) format("woff2"), url(../fonts/Nunito-SemiBold.ttf) format("ttf"), url(../fonts/Nunito-SemiBold.eot) format("eot");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito-Bold"), url(../fonts/Nunito-Bold.woff) format("woff"), url(../fonts/Nunito-Bold.woff2) format("woff2"), url(../fonts/Nunito-Bold.ttf) format("ttf"), url(../fonts/Nunito-Bold.eot) format("eot");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Disket Mono";
  src: local("Disket-Mono-Regular"), url(../fonts/Disket-Mono-Regular.woff) format("woff"), url(../fonts/Disket-Mono-Regular.woff2) format("woff2"), url(../fonts/Disket-Mono-Regular.ttf) format("ttf"), url(../fonts/Disket-Mono-Regular.eot) format("eot");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  line-height: 1;
  font-size: 16px;
}

body {
  font: 16px/1.36 Nunito, Arial, sans-serif;
  color: #434343;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 20px;
}

a {
  text-decoration: none;
  color: #0472AF;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

button,
input,
select,
textarea {
  outline: 0;
}

button,
input[type=button] {
  cursor: pointer;
  border: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 80px 0 115px;
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo__img {
  width: 67px;
  height: 67px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.logo__text {
  font: 24px/1 "Disket Mono", Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.site-select .footer__title-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.site-select-dropdown {
  max-height: 0;
  overflow: hidden;
}

.content-wrapper:not(:first-child) {
  margin-top: 55px;
}

.content-subtitle {
  margin: 40px 0;
  font-size: 26px;
  font-weight: 600;
}

.nav__link-icon {
  width: 10px;
  height: 5px;
}

.search-icon {
  width: 28px;
  height: 28px;
}

.mobile-menu,
.nav-dropdown {
  display: none;
}

.car-model__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 48px;
}

.car-model__content {
  margin-right: 30px;
  position: relative;
  aspect-ratio: 327/139;
}

.car-model__years {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 15px 10px;
  width: 65vw;
}

.car-model__year {
  display: none;
}

.car-model__icon {
  width: 18px;
  height: 18px;
}

.link-bordered {
  border-bottom: 1px solid #0472AF;
  -webkit-transition: border-bottom-color 0.3s;
  -o-transition: border-bottom-color 0.3s;
  transition: border-bottom-color 0.3s;
}

.show-more {
  color: #0472AF;
  font-size: 22px;
  font-weight: 600;
  border-bottom: 1px solid #0472AF;
  display: none;
  margin: 0 auto;
}

.header {
  background: #0472AF;
  position: relative;
  padding-top: 15px;
  color: #fff;
}

.header .logo {
  position: relative;
  top: -5px;
}

.header-block,
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-block {
  position: relative;
  margin-left: auto;
}

.header-container {
  aspect-ratio: 1140/67;
}

.footer {
  background: #0472AF;
  padding: 25px 0;
  margin-top: auto;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footer__item:not(:last-child) {
  margin-right: 30px;
}

.footer__title {
  margin-bottom: 15px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}

.footer__title-icon {
  width: 14px;
  height: 7px;
  stroke: #fff;
  stroke-width: 2;
  fill: none;
  display: none;
}

.footer__link {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  font-size: 15px;
}

.section-title {
  margin-bottom: 30px;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.content-title__icon {
  width: 36px;
  height: 36px;
  margin-right: 15px;
  fill: #0472AF;
}

.content-title__link {
  font-size: 30px;
  font-weight: 600;
  vertical-align: middle;
  color: #434343;
  -webkit-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s;
}

.btn {
  background: #0472AF;
  display: block;
  margin: 0 auto;
  min-width: 220px;
  height: 46px;
  color: #fff;
  border-radius: 20px;
  font-size: 16px;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, -webkit-transform 0.3s;
  -o-transition: background-color 0.3s, transform 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  transition: background-color 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.mobile-menu {
  margin-right: auto;
  margin-left: -10px;
}

.car-characteristics__img img,
.car-features-table__col.img img,
.car-model__img img,
.car-model__img-medium img,
.car-model__img-small img,
.mobile-menu-dropdown__img,
.preview-slider__img img,
.shop-cars__img img,
.wheel-adapters-info__img img {
  max-width: 100%;
}

.car-characteristics__img {
  aspect-ratio: 125/79;
}

.car-characteristics__img--small,
.wheel-adapters-info__img img {
  aspect-ratio: 1;
}

.car-model__img {
  aspect-ratio: 727/314;
}

.car-model__img-medium {
  aspect-ratio: 548/346;
}

.car-model__img-small {
  aspect-ratio: 476/206;
}

.car-features-table__col.img {
  aspect-ratio: 245/122;
}

.car-features-header__icon {
  width: 10px;
  height: 5px;
  fill: #0472AF;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-right: 10px;
}

.nav__link {
  position: relative;
  z-index: 5;
  display: block;
  padding: 15px 15px 30px;
  color: #fff;
}

.nav__link-hover {
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  -webkit-transition: opacity 0.5s, left 0.5s, width 0.5s, height 0.5s;
  -o-transition: opacity 0.5s, left 0.5s, width 0.5s, height 0.5s;
  transition: opacity 0.5s, left 0.5s, width 0.5s, height 0.5s;
  border-radius: 20px 20px 0 0;
}

.nav__link-icon {
  fill: #fff;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.nav-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 5;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 30px;
  min-width: 705px;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: openMenu;
  animation-name: openMenu;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.preview-slider {
  margin-top: 45px;
  padding: 0 40px;
  position: relative;
}

.preview-slider__item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 10px;
  position: relative;
}

.preview-slider__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.preview-slider__content,
.preview-slider__img {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.preview-slider__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 95px;
  margin-right: 20px;
  aspect-ratio: 95/65;
}

.preview-slider__title {
  display: block;
  font-size: 18px;
}

.preview-slider__text {
  font-size: 18px;
  color: #0472AF;
}

.preview-slider__btn {
  position: absolute;
  top: 50%;
  padding: 0;
  background: transparent;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.preview-slider__btn--prev {
  left: 0;
}

.preview-slider__btn--next {
  right: 0;
}

.preview-slider__arrow {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: #0472AF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search {
  margin-left: 30px;
}

.search-icon {
  cursor: pointer;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.search-form {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  padding: 25px 15px 15px;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  -webkit-animation-name: openMenu;
  animation-name: openMenu;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.car-model__container,
.car-model__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.car-model__title.bordered::after {
  background: #0472AF;
  content: "";
  display: block;
  margin-top: 25px;
  width: 193px;
  height: 3px;
}

.car-model__title span:not(:first-child) {
  margin-left: 5px;
}

.car-model__img {
  max-width: 730px;
}

.car-model__text {
  margin-top: 30px;
}

.car-model__year {
  font-size: 18px;
  line-height: 1.78;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.car-model__year:not(:last-child)::after {
  content: "...";
  display: inline;
  margin: 0 2px;
  color: #434343;
}

.car-model__year.always-show {
  display: inline;
}

.car-model__btn {
  padding: 0;
  margin-left: 10px;
  background: transparent;
}

.car-model__icon {
  fill: none;
  stroke: #434343;
  stroke-width: 2;
}

.page-navigation {
  background: #F4F2F2;
  padding: 40px 0;
  text-align: center;
}

.page-navigation__links {
  position: relative;
  aspect-ratio: 1110/50;
}

.page-navigation__link {
  position: relative;
  z-index: 5;
  padding: 10px 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 22px;
  font-weight: 600;
  color: #434343;
}

.page-navigation__link:not(:last-of-type) {
  margin-right: 10px;
}

.page-navigation__hover {
  background: #D6D6D6;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 20px;
  -webkit-transition: opacity 0.5s, left 0.5s, width 0.5s, height 0.5s;
  -o-transition: opacity 0.5s, left 0.5s, width 0.5s, height 0.5s;
  transition: opacity 0.5s, left 0.5s, width 0.5s, height 0.5s;
}

.shop {
  padding: 55px 0 35px;
}

.shop-cars,
.shop-cars__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop-cars {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px;
}

.shop-cars__item {
  background: #F4F2F2;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 45px 25px;
  width: 40%;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.shop-cars__item:not(:last-child) {
  margin-right: 30px;
}

.shop-cars__img {
  max-width: 190px;
  margin-right: 20px;
  aspect-ratio: 190/77;
}

.shop-cars__link {
  font-size: 22px;
  font-weight: 600;
}

.modified-cars {
  background: #F4F2F2;
  padding: 50px 0 40px;
}

.modified-cars-slider {
  margin: 40px 0;
  position: relative;
}

.modified-cars-slider__item {
  -webkit-filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  -o-transition: filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
  width: 24%;
  text-align: center;
}

.modified-cars-slider__img {
  max-width: 100%;
}

.card__img,
.modified-cars-slider__img {
  aspect-ratio: 1;
}

.page-img-big {
  aspect-ratio: 1121/631;
}

.modified-cars-slider__btn {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  padding: 0;
  width: 36px;
  height: 36px;
  background: rgba(255, 255, 255, 0.45);
  border-radius: 50%;
  -webkit-transition: background 0.3s, -webkit-transform 0.3s;
  transition: background 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, background 0.3s;
  transition: transform 0.3s, background 0.3s;
  transition: transform 0.3s, background 0.3s, -webkit-transform 0.3s;
}

.modified-cars-slider__btn--prev {
  left: 0;
}

.modified-cars-slider__btn--next {
  right: 0;
}

.modified-cars-slider__arrow {
  width: 18px;
  height: 18px;
  fill: none;
  stroke: #0472AF;
  stroke-width: 2;
}

.articles {
  background: #F4F2F2;
  padding: 45px 0 35px;
}

.articles__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.articles__item {
  width: 32%;
  margin-bottom: 55px;
  display: none;
}

.contact {
  aspect-ratio: 1487/604;
}

@media (max-width: 768px) {
  .car-features-table__col.img {
    aspect-ratio: auto;
  }
}

@media (max-width: 576px) {
  .car-model__content {
    aspect-ratio: 546/93;
  }

  .page-navigation__links {
    aspect-ratio: 546/200;
  }
}

@media (max-width: 480px) {
  .car-model__title.bordered::after {
    content: none;
  }
}