section.section-middle
    .container
        .car-characteristics__wrap
            .car-characteristics__list
                .car-characteristics__item
                    h2 Specs
                .car-characteristics__item
                    a.car-characteristics__linkblock(href='/specs/towing-capacity/')
                    .car-characteristics__img.car-characteristics__img--middle
                        picture
                            source(srcset="img/content/car-characteristics/car-characteristics-1.webp", type="image/webp")
                            img(src="img/content/car-characteristics/car-characteristics-1.png")
                    .car-characteristics__content
                        span.car-characteristics__title Towing Capacity
                .car-characteristics__item
                    a.car-characteristics__linkblock(href='/specs/towing-capacity/')
                    .car-characteristics__img.car-characteristics__img--middle
                        picture
                            source(srcset="img/content/car-characteristics/car-characteristics-2.webp", type="image/webp")
                            img(src="img/content/car-characteristics/car-characteristics-2.png")
                    .car-characteristics__content
                        span.car-characteristics__title MGP
                .car-characteristics__item
                    a.car-characteristics__linkblock(href='/specs/towing-capacity/')
                    .car-characteristics__img.car-characteristics__img--middle
                        picture
                            source(srcset="img/content/car-characteristics/car-characteristics-3.webp", type="image/webp")
                            img(src="img/content/car-characteristics/car-characteristics-3.png")
                    .car-characteristics__content
                        span.car-characteristics__title Interior
                .car-characteristics__item
                    a.car-characteristics__linkblock(href='/specs/towing-capacity/')
                    .car-characteristics__img.car-characteristics__img--middle
                        picture
                            source(srcset="img/content/car-characteristics/car-characteristics-4.webp", type="image/webp")
                            img(src="img/content/car-characteristics/car-characteristics-4.png")
                    .car-characteristics__content
                        span.car-characteristics__title Weight
            .car-characteristics__list
                .car-characteristics__item
                    h2 Info
                .car-characteristics__item
                    a.car-characteristics__linkblock(href='/specs/towing-capacity/')
                    .car-characteristics__img.car-characteristics__img--middle
                        picture
                            source(srcset='img/content/car-preview/car-preview-3.webp' type='image/webp')
                            img(src='img/content/car-preview/car-preview-3.png' alt='Owner&apos;s manuals')
                    .car-characteristics__content
                        span.car-characteristics__title Owner&apos;s manuals
                .car-characteristics__item
                    a.car-characteristics__linkblock(href='/specs/towing-capacity/')
                    .car-characteristics__img.car-characteristics__img--middle
                        picture
                            source(srcset='img/content/products/back-up-light-2.webp' type='image/webp')
                            img(src='img/content/products/back-up-light-2.png' alt='Fuses')
                    .car-characteristics__content
                        span.car-characteristics__title Fuses
                .car-characteristics__item
                    a.car-characteristics__linkblock(href='/specs/towing-capacity/')
                    .car-characteristics__img.car-characteristics__img--middle
                        picture
                            source(srcset='img/content/products/break-light-2.webp' type='image/webp')
                            img(src='img/content/products/break-light-2.png' alt='Bulbs list')
                    .car-characteristics__content
                        span.car-characteristics__title Bulbs list
                .car-characteristics__item
                    a.car-characteristics__linkblock(href='/specs/towing-capacity/')
                    .car-characteristics__img.car-characteristics__img--middle
                        picture
                            source(srcset='img/content/wheels/wheel-15.webp' type='image/webp')
                            img(src='img/content/wheels/wheel-15.png' alt='Tire Size')
                    .car-characteristics__content
                        span.car-characteristics__title Tire Size
            .car-characteristics__list
                .car-characteristics__item
                    h2 Specs
                .car-characteristics__item
                    a.car-characteristics__linkblock(href='/specs/towing-capacity/')
                    .car-characteristics__img.car-characteristics__img--middle
                        picture
                            source(srcset="img/content/car-characteristics/car-characteristics-1.webp", type="image/webp")
                            img(src="img/content/car-characteristics/car-characteristics-1.png")
                    .car-characteristics__content
                        span.car-characteristics__title Towing Capacity
                .car-characteristics__item
                    a.car-characteristics__linkblock(href='/specs/towing-capacity/')
                    .car-characteristics__img.car-characteristics__img--middle
                        picture
                            source(srcset="img/content/car-characteristics/car-characteristics-2.webp", type="image/webp")
                            img(src="img/content/car-characteristics/car-characteristics-2.png")
                    .car-characteristics__content
                        span.car-characteristics__title MGP
                .car-characteristics__item
                    a.car-characteristics__linkblock(href='/specs/towing-capacity/')
                    .car-characteristics__img.car-characteristics__img--middle
                        picture
                            source(srcset="img/content/car-characteristics/car-characteristics-3.webp", type="image/webp")
                            img(src="img/content/car-characteristics/car-characteristics-3.png")
                    .car-characteristics__content
                        span.car-characteristics__title Interior
                .car-characteristics__item
                    a.car-characteristics__linkblock(href='/specs/towing-capacity/')
                    .car-characteristics__img.car-characteristics__img--middle
                        picture
                            source(srcset="img/content/car-characteristics/car-characteristics-4.webp", type="image/webp")
                            img(src="img/content/car-characteristics/car-characteristics-4.png")
                    .car-characteristics__content
                        span.car-characteristics__title Weight
        p Footer Honda Accord Specs
