.car-model__row.container
    .car-model__content
        h1.car-model__title
            span Cadillac
            span Escalade
    .car-model__img
        img(src="img/content/car-model/cadillac.png" alt="Cadillac")
.container
    .car-model__select-year(style="background-color: #F4F2F2")
        h2.section-title Select year
        .car-model__select-years
            - for (var year = 1977; year <= 2021; year++)
                span.car-model__year.always-show(href="#")= year
    .car-model__info
        p.car-model__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
