extends ../layout/app

block styles
    link(rel="stylesheet", href="css/libs/libs.min.css")
block page
    .wrapper
        include ../chunk/header
        include blog-post/blog-post
        include blog/blog
        include ../chunk/footer

block script
    script(src="js/libs/jquery.min.js")
    script(src="js/libs/libs.min.js")
    script(src="js/main.js")