extends ../layout/app

block page
    .wrapper
        include ../chunk/header
        include bulbs-year/car-model
        include bulbs-year/products
        include bulbs-year/text-section
        include ../chunk/footer

block script
    script(src="js/libs/jquery.min.js")
    script(src="js/libs/libs.min.js")
    script(src="js/main.js")