extends ../layout/app

block page
    .wrapper
        include ../chunk/header
        include contact/car-model
        include contact/contact-form
        include ../chunk/footer

block script
    script(src="https://www.google.com/recaptcha/api.js")
    script(src="js/libs/jquery.min.js")
    script(src="js/libs/libs.min.js")
    script(src="js/main.js")