extends ../layout/app

block styles
    link(rel="stylesheet", href="css/libs/libs.min.css")
block page
    .wrapper
        include ../chunk/header
        include index/car-model
        include index/page-navigation
        include index/shop
        include index/owning
        include index/modified-cars
        include index/aparts
        include index/articles
        include index/products
        include ../chunk/footer

block script
    script(src="js/libs/jquery.min.js")
    script(src="js/libs/libs.min.js")
    script(src="js/main.js")