extends ../layout/app

block page
    .wrapper
        include ../chunk/header
        include manuals/car-model
        include manuals/select-year
        include ../chunk/footer

block script
    script(src="js/libs/jquery.min.js")
    script(src="js/libs/libs.min.js")
    script(src="js/main.js")