extends ../layout/app

block page
    .wrapper
        include ../chunk/header
        include modified/car-model
        include modified/popular
        include modified/trending
        include modified/18-wheels
        include modified/19-wheels
        include ../chunk/footer

block script
    script(src="js/libs/jquery.min.js")
    script(src="js/libs/libs.min.js")
    script(src="js/main.js")