extends ../layout/app

block page
    .wrapper
        include ../chunk/header
        include vdp/car-model
        include vdp/search-services
        include ../chunk/footer

block script
    script(src="js/libs/jquery.min.js")
    script(src="js/libs/libs.min.js")
    script(src="js/main.js")