extends ../layout/app

block page
    .wrapper
        include ../chunk/header
        include year-bolt-pattern/car-model
        include year-bolt-pattern/car-characteristics
        include year-bolt-pattern/change-bolt-pattern
        include year-bolt-pattern/wheel-adapters
        include year-bolt-pattern/see-more
        include ../chunk/footer

block script
    script(src="js/libs/jquery.min.js")
    script(src="js/libs/libs.min.js")
    script(src="js/main.js")