section.articles#blog
    .container
        h2.section-title Our last articles
        .articles__content
            include articles/article-1
            include articles/article-1
            include articles/article-1
            include articles/article-1
            include articles/article-1
            include articles/article-1
            include articles/article-1
            include articles/article-1
            include articles/article-1
            include articles/article-1
            include articles/article-1
            include articles/article-1
        button.btn.js-show-more Show more