section.page-navigation
    .container
        .page-navigation__links
            a.page-navigation__link.active.js-smooth-scroll(href="#shop") Shop
            a.page-navigation__link.js-smooth-scroll(href="#owning") Owning
            a.page-navigation__link.js-smooth-scroll(href="#parts") Parts
            a.page-navigation__link.js-smooth-scroll(href="#blog") Blog
            span.page-navigation__hover