section.page-navigation(style="background-color: #F4F2F2")
    .container
        .page-navigation__links
            a.page-navigation__link.active.js-smooth-scroll(href="#" data-target="#shop") Shop
            a.page-navigation__link.js-smooth-scroll(href="#" data-target="#owning") Owning
            a.page-navigation__link.js-smooth-scroll(href="#" data-target="#parts") Parts
            a.page-navigation__link.js-smooth-scroll(href="#" data-target="#blog") Blog
            span.page-navigation__hover