.car-model {
  &__container {
    @include media-sm {
      flex-direction: column;
      align-items: flex-start;
    }
    &:not(.years) {
      @include media-xs {
        align-items: center;
      }
    }

  }
  &__row {
    padding-top: 80px;
    @include media-md {
      padding-top: 50px;
    }
    @include media-sm {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__subtitle {
    font-size: 24px;
    font-weight: 700;
    @include media-xs {
      text-align: center;
    }
  }
  &__img, &__img-small, &__img-medium {
    @include media-md {
      max-width: 50%;
    }
    @include media-sm {
      order: 1;
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
  &__img-medium {
    max-width: 548px;
  }
  &__img-small {
    max-width: 468px;
  }
  &__years {
    &.active {
      @include position(absolute, $top: 100%, $left: 0);
      z-index: 10;
      width: 65vw;
      background-color: $color-grey-light;
      box-shadow: 0px 0px 4px rgba(#000, 0.25);
    }
  }
  &__select {
    &-year {
      margin-top: 35px;
      padding: 30px 45px 50px;
      background-color: $color-grey-light;
      box-shadow: 0px 0px 4px rgba(#000, 0.25);
      @include media-sm {
        padding: 20px;
        margin-top: 0;
      }
    }
    &-years {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__year {
    &:hover {
      color: $color-black;
    }
  }
  &__info {
    margin: 45px 0 35px;
  }
  &__text:not(:last-child) {
    margin-bottom: 15px;
  }
}