.articles__item
    h5.articles__title
        a.articles__title-link(href="#") Take a live tour
    span.articles__date March 21 2021
    p.articles__text Step into a Cadillac LIVE virtual showroom from the comfort of your home or anywhere. Choose a one-on-one personalized session, or join a group tour, and be matched with a Cadillac LIVE agent who can answer questions.
    p.articles__text Preview the future with our virtual LYRIQ.†