section.car-characteristics
    .container
        p The bolt pattern for 2021 Kia Sorento is 5x114.3 where "5" - is stud count. "114.3" is the bolt circle measurement. Its value hasn't changed for 0 years for Kia Sorento. The previous value of bolt pattern was 5x139.7, ended in 2009.
        .car-characteristics__table
            .car-characteristics__row
                .car-characteristics__col
                    .car-characteristics__img.car-characteristics__img--small
                        picture
                            source(srcset="img/content/wheels/wheel-9.webp", type="image/webp")
                            img(src="img/content/wheels/wheel-9.png")
                    .car-characteristics__title
                        span Wheel Bolt Pattern
                        .tooltip
                            span.tooltip__question ?
                            .tooltip__info
                                p.tooltip__text The bolt pattern for 2021 Kia Sorento is 5x114.3 where "5"
                .car-characteristics__col
                    span.car-characteristics__text 5x139.7
                .car-characteristics__col
                    a.car-characteristics__link(href="#") Wheel Adepters
            .car-characteristics__row
                .car-characteristics__col
                    .car-characteristics__img.car-characteristics__img--small
                        picture
                            source(srcset="img/content/wheels/wheel-1.webp", type="image/webp")
                            img(src="img/content/wheels/wheel-1.png")
                    .car-characteristics__title
                        span Wheel Offset
                        .tooltip
                            span.tooltip__question ?
                            .tooltip__info
                                p.tooltip__text The bolt pattern for 2021 Kia Sorento is 5x114.3 where "5"
                .car-characteristics__col
                    span.car-characteristics__text +34
                .car-characteristics__col
                    a.car-characteristics__link(href="#") Wheel Spacers
            .car-characteristics__row
                .car-characteristics__col
                    .car-characteristics__img.car-characteristics__img--small
                        picture
                            source(srcset="img/content/bulbs/lun_nuts.webp", type="image/webp")
                            img(src="img/content/bulbs/lun_nuts.png")
                    .car-characteristics__title Lun Nuts
                .car-characteristics__col
                    span.car-characteristics__text 14x1.5
                .car-characteristics__col
                    a.car-characteristics__link(href="#") By on Amazon
            .car-characteristics__row
                .car-characteristics__col
                    .car-characteristics__img.car-characteristics__img--small
                        picture
                            source(srcset="img/content/wheels/wheel-11.webp", type="image/webp")
                            img(src="img/content/wheels/wheel-11.png")
                    span.car-characteristics__title Center Bore
                .car-characteristics__col
                    span.car-characteristics__text 67.7
                .car-characteristics__col
                    a.car-characteristics__link(href="#") Hub Centric Rings
            .car-characteristics__row
                .car-characteristics__col
                    .car-characteristics__img.car-characteristics__img--small
                        picture
                            source(srcset="img/content/wheels/wheel-6.webp", type="image/webp")
                            img(src="img/content/wheels/wheel-6.png")
                    .car-characteristics__title
                        span Tire size
                        .tooltip
                            span.tooltip__question ?
                            .tooltip__info
                                p.tooltip__text The bolt pattern for 2021 Kia Sorento is 5x114.3 where "5"
                .car-characteristics__col
                    a.car-characteristics__link(href="#") P305/30 R26
            .car-characteristics__row
                .car-characteristics__col
                    .car-characteristics__img.car-characteristics__img--small
                        picture
                            source(srcset="img/content/wheels/wheel-5.webp", type="image/webp")
                            img(src="img/content/wheels/wheel-5.png")
                    .car-characteristics__title
                        span Tire Brand
                        .tooltip
                            span.tooltip__question ?
                            .tooltip__info
                                p.tooltip__text The bolt pattern for 2021 Kia Sorento is 5x114.3 where "5"
                .car-characteristics__col
                    a.car-characteristics__link(href="#") Micheline Pilot SuperSports