section.change-bolt-pattern
    .change-bolt-pattern__container.container
        h2.page-title How to change bolt pattern? - Install Wheel Adapters
        p The bolt pattern for 2021 Kia Sorento is 5x114.3 where "5" - is stud count. "114.3" is the bolt circle measurement. Its value hasn't changed for 0 years for Kia Sorento. The previous value of bolt pattern was 5x139.7, ended in 2009.
        .wheel-adapters-list
            a.wheel-adapters-list__link.js-smooth-scroll(href="#adapter-1") 5x114.3 to 5x112
            a.wheel-adapters-list__link.js-smooth-scroll(href="#adapter-2") 5x114.3 to 5x120.70
            a.wheel-adapters-list__link.js-smooth-scroll(href="#adapter-3") 5x114.3 to 5x100
            a.wheel-adapters-list__link.js-smooth-scroll(href="#adapter-4") 5x114.3 to 5x108
            a.wheel-adapters-list__link.js-smooth-scroll(href="#adapter-5") 5x114.3 to 5x127
            a.wheel-adapters-list__link.js-smooth-scroll(href="#adapter-6") 5x114.3 to 5x120
            a.wheel-adapters-list__link.js-smooth-scroll(href="#adapter-7") 5x114.3 to 5x135
            a.wheel-adapters-list__link.js-smooth-scroll(href="#adapter-8") 5x114.3 to 5x139.7