section.see-more
    .container
        h2.page-title See more
        .car-characteristics__container
            .car-characteristics__list
                .car-characteristics__item
                    .car-characteristics__img.car-characteristics__img--middle
                        img(src="img/content/bulbs/bulb-1.png")
                    .car-characteristics__content
                        span.car-characteristics__text-blue LED Bulbs
                .car-characteristics__item
                    .car-characteristics__img.car-characteristics__img--middle
                        img(src="img/content/bulbs/bulb-2.png")
                    .car-characteristics__content
                        span.car-characteristics__text-blue HID Bulbs
                .car-characteristics__item
                    .car-characteristics__img.car-characteristics__img--middle
                        img(src="img/content/lights/headlights.png")
                    .car-characteristics__content
                        span.car-characteristics__text-blue Headlights
                .car-characteristics__item
                    .car-characteristics__img.car-characteristics__img--middle
                        img(src="img/content/lights/tail-lights.png")
                    .car-characteristics__content
                        span.car-characteristics__text-blue Tail lights