section.section-middle
    .container
        .wheel-adapters
            .wheel-adapters__item#adapter-1
                h3.wheel-adapters__title 5x114.3 to 5x112 (5x4.5 in to 5x4.41 in)
                p.wheel-adapters__text The bolt pattern for 2021 Kia Sorento is 5x114.3 where "5" - is stud count. "114.3" is the bolt circle measurement. Its value hasn't changed for 0 years for Kia Sorento. The previous value of bolt pattern was 5x139.7, ended in 2009.
                .wheel-adapters-info
                    .wheel-adapters-info__img
                        img(src="img/content/wheel-adapters/wheel-adapter-2.png" alt="Image")
                    .wheel-adapters-info__descr
                        a.wheel-adapters-info__link(href="#") Premium Pick
                        h6.wheel-adapters-info__title Ezaccessory Adapterts 5x4.5 to 5x112
                        ul.wheel-adapters-info__list
                            li.wheel-adapters-info__item
                                +icon("play", "wheel-adapters-info__arrow")
                                span.wheel-adapters-info__text CNC machined from 6061 T6 aircraft quality billet
                            li.wheel-adapters-info__item
                                +icon("play", "wheel-adapters-info__arrow")
                                span.wheel-adapters-info__text Space out your wheel by 1.25-inch
                            li.wheel-adapters-info__item
                                +icon("play", "wheel-adapters-info__arrow")
                                span.wheel-adapters-info__text Including 10 pre-installed studs and 10 mounting lug nuts
            .wheel-adapters__item#adapter-2
                h3.wheel-adapters__title 5x114.3 to 5x120.70
                p.wheel-adapters__text The bolt pattern for 2021 Kia Sorento is 5x114.3 where "5" - is stud count. "114.3" is the bolt circle measurement. Its value hasn't changed for 0 years for Kia Sorento. The previous value of bolt pattern was 5x139.7, ended in 2009.
                .wheel-adapters-info
                    .wheel-adapters-info__img
                        img(src="img/content/wheel-adapters/wheel-adapter-1.png" alt="Image")
                    .wheel-adapters-info__descr
                        a.wheel-adapters-info__link(href="#") Best Value
                        h6.wheel-adapters-info__title Ezaccessory Adapterts 5x4.5 to 5x112
                        ul.wheel-adapters-info__list
                            li.wheel-adapters-info__item
                                +icon("play", "wheel-adapters-info__arrow")
                                span.wheel-adapters-info__text CNC machined from 6061 T6 aircraft quality billet
                            li.wheel-adapters-info__item
                                +icon("play", "wheel-adapters-info__arrow")
                                span.wheel-adapters-info__text Space out your wheel by 1.25-inch
                            li.wheel-adapters-info__item
                                +icon("play", "wheel-adapters-info__arrow")
                                span.wheel-adapters-info__text Including 10 pre-installed studs and 10 mounting lug nuts
            .wheel-adapters__item#adapter-3
                h3.wheel-adapters__title 5x114.3 to 5x100
                p.wheel-adapters__text The bolt pattern for 2021 Kia Sorento is 5x114.3 where "5" - is stud count. "114.3" is the bolt circle measurement. Its value hasn't changed for 0 years for Kia Sorento. The previous value of bolt pattern was 5x139.7, ended in 2009.
                .wheel-adapters-info
                    .wheel-adapters-info__img
                        img(src="img/content/wheel-adapters/wheel-adapter-2.png" alt="Image")
                    .wheel-adapters-info__descr
                        a.wheel-adapters-info__link(href="#") Premium Pick
                        h6.wheel-adapters-info__title Ezaccessory Adapterts 5x4.5 to 5x112
                        ul.wheel-adapters-info__list
                            li.wheel-adapters-info__item
                                +icon("play", "wheel-adapters-info__arrow")
                                span.wheel-adapters-info__text CNC machined from 6061 T6 aircraft quality billet
                            li.wheel-adapters-info__item
                                +icon("play", "wheel-adapters-info__arrow")
                                span.wheel-adapters-info__text Space out your wheel by 1.25-inch
                            li.wheel-adapters-info__item
                                +icon("play", "wheel-adapters-info__arrow")
                                span.wheel-adapters-info__text Including 10 pre-installed studs and 10 mounting lug nuts
            .wheel-adapters__item#adapter-4
                h3.wheel-adapters__title 5x114.3 to 5x108
                p.wheel-adapters__text The bolt pattern for 2021 Kia Sorento is 5x114.3 where "5" - is stud count. "114.3" is the bolt circle measurement. Its value hasn't changed for 0 years for Kia Sorento. The previous value of bolt pattern was 5x139.7, ended in 2009.
                .wheel-adapters-info
                    .wheel-adapters-info__img
                        img(src="img/content/wheel-adapters/wheel-adapter-1.png" alt="Image")
                    .wheel-adapters-info__descr
                        a.wheel-adapters-info__link(href="#") Best Value
                        h6.wheel-adapters-info__title Ezaccessory Adapterts 5x4.5 to 5x112
                        ul.wheel-adapters-info__list
                            li.wheel-adapters-info__item
                                +icon("play", "wheel-adapters-info__arrow")
                                span.wheel-adapters-info__text CNC machined from 6061 T6 aircraft quality billet
                            li.wheel-adapters-info__item
                                +icon("play", "wheel-adapters-info__arrow")
                                span.wheel-adapters-info__text Space out your wheel by 1.25-inch
                            li.wheel-adapters-info__item
                                +icon("play", "wheel-adapters-info__arrow")
                                span.wheel-adapters-info__text Including 10 pre-installed studs and 10 mounting lug nuts
            .wheel-adapters__item#adapter-5
                h3.wheel-adapters__title 5x114.3 to 5x127
                p.wheel-adapters__text The bolt pattern for 2021 Kia Sorento is 5x114.3 where "5" - is stud count. "114.3" is the bolt circle measurement. Its value hasn't changed for 0 years for Kia Sorento. The previous value of bolt pattern was 5x139.7, ended in 2009.
                .wheel-adapters-info
                    .wheel-adapters-info__img
                        img(src="img/content/wheel-adapters/wheel-adapter-2.png" alt="Image")
                    .wheel-adapters-info__descr
                        a.wheel-adapters-info__link(href="#") Premium Pick
                        h6.wheel-adapters-info__title Ezaccessory Adapterts 5x4.5 to 5x112
                        ul.wheel-adapters-info__list
                            li.wheel-adapters-info__item
                                +icon("play", "wheel-adapters-info__arrow")
                                span.wheel-adapters-info__text CNC machined from 6061 T6 aircraft quality billet
                            li.wheel-adapters-info__item
                                +icon("play", "wheel-adapters-info__arrow")
                                span.wheel-adapters-info__text Space out your wheel by 1.25-inch
                            li.wheel-adapters-info__item
                                +icon("play", "wheel-adapters-info__arrow")
                                span.wheel-adapters-info__text Including 10 pre-installed studs and 10 mounting lug nuts
            .wheel-adapters__item#adapter-6
                h3.wheel-adapters__title 5x114.3 to 5x120
                p.wheel-adapters__text The bolt pattern for 2021 Kia Sorento is 5x114.3 where "5" - is stud count. "114.3" is the bolt circle measurement. Its value hasn't changed for 0 years for Kia Sorento. The previous value of bolt pattern was 5x139.7, ended in 2009.
                .wheel-adapters-info
                    .wheel-adapters-info__img
                        img(src="img/content/wheel-adapters/wheel-adapter-1.png" alt="Image")
                    .wheel-adapters-info__descr
                        a.wheel-adapters-info__link(href="#") Best Value
                        h6.wheel-adapters-info__title Ezaccessory Adapterts 5x4.5 to 5x112
                        ul.wheel-adapters-info__list
                            li.wheel-adapters-info__item
                                +icon("play", "wheel-adapters-info__arrow")
                                span.wheel-adapters-info__text CNC machined from 6061 T6 aircraft quality billet
                            li.wheel-adapters-info__item
                                +icon("play", "wheel-adapters-info__arrow")
                                span.wheel-adapters-info__text Space out your wheel by 1.25-inch
                            li.wheel-adapters-info__item
                                +icon("play", "wheel-adapters-info__arrow")
                                span.wheel-adapters-info__text Including 10 pre-installed studs and 10 mounting lug nuts
            .wheel-adapters__item#adapter-7
                h3.wheel-adapters__title 5x114.3 to 5x135
                p.wheel-adapters__text The bolt pattern for 2021 Kia Sorento is 5x114.3 where "5" - is stud count. "114.3" is the bolt circle measurement. Its value hasn't changed for 0 years for Kia Sorento. The previous value of bolt pattern was 5x139.7, ended in 2009.
                .wheel-adapters-info
                    .wheel-adapters-info__img
                        img(src="img/content/wheel-adapters/wheel-adapter-2.png" alt="Image")
                    .wheel-adapters-info__descr
                        a.wheel-adapters-info__link(href="#") Premium Pick
                        h6.wheel-adapters-info__title Ezaccessory Adapterts 5x4.5 to 5x112
                        ul.wheel-adapters-info__list
                            li.wheel-adapters-info__item
                                +icon("play", "wheel-adapters-info__arrow")
                                span.wheel-adapters-info__text CNC machined from 6061 T6 aircraft quality billet
                            li.wheel-adapters-info__item
                                +icon("play", "wheel-adapters-info__arrow")
                                span.wheel-adapters-info__text Space out your wheel by 1.25-inch
                            li.wheel-adapters-info__item
                                +icon("play", "wheel-adapters-info__arrow")
                                span.wheel-adapters-info__text Including 10 pre-installed studs and 10 mounting lug nuts
            .wheel-adapters__item#adapter-8
                h3.wheel-adapters__title 5x114.3 to 5x139.7
                p.wheel-adapters__text The bolt pattern for 2021 Kia Sorento is 5x114.3 where "5" - is stud count. "114.3" is the bolt circle measurement. Its value hasn't changed for 0 years for Kia Sorento. The previous value of bolt pattern was 5x139.7, ended in 2009.
                .wheel-adapters-info
                    .wheel-adapters-info__img
                        img(src="img/content/wheel-adapters/wheel-adapter-1.png" alt="Image")
                    .wheel-adapters-info__descr
                        a.wheel-adapters-info__link(href="#") Best Value
                        h6.wheel-adapters-info__title Ezaccessory Adapterts 5x4.5 to 5x112
                        ul.wheel-adapters-info__list
                            li.wheel-adapters-info__item
                                +icon("play", "wheel-adapters-info__arrow")
                                span.wheel-adapters-info__text CNC machined from 6061 T6 aircraft quality billet
                            li.wheel-adapters-info__item
                                +icon("play", "wheel-adapters-info__arrow")
                                span.wheel-adapters-info__text Space out your wheel by 1.25-inch
                            li.wheel-adapters-info__item
                                +icon("play", "wheel-adapters-info__arrow")
                                span.wheel-adapters-info__text Including 10 pre-installed studs and 10 mounting lug nuts