section.car-model
    .container
        .breadcrumbs
            a.breadcrumbs-link(href="#") Vehicle
            a.breadcrumbs-link(href="#") Shop
            a.breadcrumbs-link(href="#") Our story
            a.breadcrumbs-link(href="#") About
            a.breadcrumbs-link(href="#") Contacts
        .car-model__container
            .car-model__content
                h1.car-model__title.bordered
                    span.block-mobile Cadillac Escalade
                    span.block-mobile Towing Capacity
            .car-model__img-small
                picture
                    source(srcset="img/content/car-model/cadillac.webp", type="image/webp")
                    img(src="img/content/car-model/cadillac.png" alt="Cadillac")