mixin siteSelectItem(icon, text)
    .site-select-dropdown__item
        a.site-select-dropdown__link(href="")
            +icon(`${icon}`, "site-select-dropdown__icon")
            span.site-select-dropdown__text=text

footer.footer
    .footer__container.container
        .footer__item
            .logo.site-select
                a.logo__img(href="index.html", style="background-image: url(img/general/logos/honda.svg)")
                .site-select-current.js-site-select
                    span.logo__text Accord
                    +icon("arrow-down", "site-select__icon-dropdown")
                .site-select-dropdown
                    +siteSelectItem("acura", "Acura")
                    +siteSelectItem("bmw", "BMW")
                    +siteSelectItem("cadillac", "Cadillac")
                    +siteSelectItem("chevrolet", "Chevrolet")
                    +siteSelectItem("chrysler", "Chrysler")
                    +siteSelectItem("dodge", "Dodge")
                    +siteSelectItem("ford", "Ford")
                    +siteSelectItem("gmc", "GMC")
                    +siteSelectItem("honda", "Honda")
                    +siteSelectItem("hyundai", "Hyundai")
                    +siteSelectItem("infinity", "Infinity")
                    +siteSelectItem("jeep", "Jeep")
                    +siteSelectItem("kia", "KIA")
                    +siteSelectItem("mazda", "Mazda")
                    +siteSelectItem("mercedes-benz", "Mercedes-benz")
                    +siteSelectItem("nissan", "Nissan")
                    +siteSelectItem("ram", "RAM")
                    +siteSelectItem("toyota", "Toyota")
                    +siteSelectItem("volkswagen", "Volkswagen")
                    +siteSelectItem("volvo", "Volvo")
        .footer__item
            h6.footer__title
                span.footer__title-text Vehicles
                +icon("caret-down", "footer__title-icon")
            .footer__links
                a.footer__link(href="#") Suvs
                a.footer__link(href="#") Sedans
                a.footer__link(href="#") Electric
                a.footer__link(href="#") Certified pre-owned
                a.footer__link(href="#") Future vehicle
                a.footer__link(href="#") Concept vehicles
                a.footer__link(href="#") Legacy vehicles
                a.footer__link(href="#") Brochures
        .footer__item
            h6.footer__title
                span.footer__title-text Discover cadillac
                +icon("caret-down", "footer__title-icon")
            .footer__links
                a.footer__link(href="#") Innovation
                a.footer__link(href="#") Performance
                a.footer__link(href="#") Craftsmanship
                a.footer__link(href="#") Super cruise
                a.footer__link(href="#") Racing
                a.footer__link(href="#") Benefits of cadillac
                a.footer__link(href="#") Awards &amp; recognition
                a.footer__link(href="#") Equity &amp; justice
        .footer__item
            h6.footer__title
                span.footer__title-text Assistance
                +icon("caret-down", "footer__title-icon")
            .footer__links
                a.footer__link(href="#") Contact us
                a.footer__link(href="#") Recalls
                a.footer__link(href="#") My account
                a.footer__link(href="#") Support
                a.footer__link(href="#") Tutorials
                a.footer__link(href="#") Learn about ev life