aside.sidebar
    .sidebar-accordion
        .sidebar-accordion__item
            .sidebar-accordion__header.js-accordion
                span.sidebar-accordion__title Introduction
                +icon("arrow-down", "sidebar-accordion__arrow")
            .sidebar-accordion__body
                a.sidebar-accordion__link(href="#") Introduction
                a.sidebar-accordion__link(href="#") How To Use This Manual
                a.sidebar-accordion__link.active(href="#") Warnings and Cautions
                a.sidebar-accordion__link(href="#") Vehicle Modifications / Alterations
        .sidebar-accordion__item
            .sidebar-accordion__header.js-accordion
                span.sidebar-accordion__title Getting To Know Your Vehicle
                +icon("arrow-down", "sidebar-accordion__arrow")
            .sidebar-accordion__body
                a.sidebar-accordion__link(href="#") Introduction
                a.sidebar-accordion__link(href="#") How To Use This Manual
                a.sidebar-accordion__link(href="#") Warnings and Cautions
                a.sidebar-accordion__link(href="#") Vehicle Modifications / Alterations
        .sidebar-accordion__item
            .sidebar-accordion__header.js-accordion
                span.sidebar-accordion__title Getting To Know Your Instrument Panel
                +icon("arrow-down", "sidebar-accordion__arrow")
            .sidebar-accordion__body
                a.sidebar-accordion__link(href="#") Introduction
                a.sidebar-accordion__link(href="#") How To Use This Manual
                a.sidebar-accordion__link(href="#") Warnings and Cautions
                a.sidebar-accordion__link(href="#") Vehicle Modifications / Alterations
        .sidebar-accordion__item
            .sidebar-accordion__header.js-accordion
                span.sidebar-accordion__title Safety
                +icon("arrow-down", "sidebar-accordion__arrow")
            .sidebar-accordion__body
                a.sidebar-accordion__link(href="#") Introduction
                a.sidebar-accordion__link(href="#") How To Use This Manual
                a.sidebar-accordion__link(href="#") Warnings and Cautions
                a.sidebar-accordion__link(href="#") Vehicle Modifications / Alterations
        .sidebar-accordion__item
            .sidebar-accordion__header.js-accordion
                span.sidebar-accordion__title Starting and Operating
                +icon("arrow-down", "sidebar-accordion__arrow")
            .sidebar-accordion__body
                a.sidebar-accordion__link(href="#") Introduction
                a.sidebar-accordion__link(href="#") How To Use This Manual
                a.sidebar-accordion__link(href="#") Warnings and Cautions
                a.sidebar-accordion__link(href="#") Vehicle Modifications / Alterations
        .sidebar-accordion__item
            .sidebar-accordion__header.js-accordion
                span.sidebar-accordion__title In Case of Emergency
                +icon("arrow-down", "sidebar-accordion__arrow")
            .sidebar-accordion__body
                a.sidebar-accordion__link(href="#") Introduction
                a.sidebar-accordion__link(href="#") How To Use This Manual
                a.sidebar-accordion__link(href="#") Warnings and Cautions
                a.sidebar-accordion__link(href="#") Vehicle Modifications / Alterations
        .sidebar-accordion__item
            .sidebar-accordion__header.js-accordion
                span.sidebar-accordion__title Servicing and Maintenance
                +icon("arrow-down", "sidebar-accordion__arrow")
            .sidebar-accordion__body
                a.sidebar-accordion__link(href="#") Introduction
                a.sidebar-accordion__link(href="#") How To Use This Manual
                a.sidebar-accordion__link(href="#") Warnings and Cautions
                a.sidebar-accordion__link(href="#") Vehicle Modifications / Alterations
        .sidebar-accordion__item
            .sidebar-accordion__header.js-accordion
                span.sidebar-accordion__title Technical Specifications
                +icon("arrow-down", "sidebar-accordion__arrow")
            .sidebar-accordion__body
                a.sidebar-accordion__link(href="#") Introduction
                a.sidebar-accordion__link(href="#") How To Use This Manual
                a.sidebar-accordion__link(href="#") Warnings and Cautions
                a.sidebar-accordion__link(href="#") Vehicle Modifications / Alterations
        .sidebar-accordion__item
            .sidebar-accordion__header.js-accordion
                span.sidebar-accordion__title Multimedia
                +icon("arrow-down", "sidebar-accordion__arrow")
            .sidebar-accordion__body
                a.sidebar-accordion__link(href="#") Introduction
                a.sidebar-accordion__link(href="#") How To Use This Manual
                a.sidebar-accordion__link(href="#") Warnings and Cautions
                a.sidebar-accordion__link(href="#") Vehicle Modifications / Alterations
        .sidebar-accordion__item
            .sidebar-accordion__header.js-accordion
                span.sidebar-accordion__title Customer Assistance
                +icon("arrow-down", "sidebar-accordion__arrow")
            .sidebar-accordion__body
                a.sidebar-accordion__link(href="#") Introduction
                a.sidebar-accordion__link(href="#") How To Use This Manual
                a.sidebar-accordion__link(href="#") Warnings and Cautions
                a.sidebar-accordion__link(href="#") Vehicle Modifications / Alterations