aside.sidebar
    .site-content
        .site-content__item
            .site-content__header.js-accordion
                span.site-content__title Introduction
                +icon("arrow-down", "site-content__arrow")
            .site-content__body.accordion-body
                a.site-content__link(href="#") Introduction
                a.site-content__link(href="#") How To Use This Manual
                a.site-content__link.active(href="#") Warnings and Cautions
                a.site-content__link(href="#") Vehicle Modifications / Alterations
        .site-content__item
            .site-content__header.js-accordion
                span.site-content__title Getting To Know Your Vehicle
                +icon("arrow-down", "site-content__arrow")
            .site-content__body.accordion-body
                a.site-content__link(href="#") Introduction
                a.site-content__link(href="#") How To Use This Manual
                a.site-content__link(href="#") Warnings and Cautions
                a.site-content__link(href="#") Vehicle Modifications / Alterations
        .site-content__item
            .site-content__header.js-accordion
                span.site-content__title Getting To Know Your Instrument Panel
                +icon("arrow-down", "site-content__arrow")
            .site-content__body.accordion-body
                a.site-content__link(href="#") Introduction
                a.site-content__link(href="#") How To Use This Manual
                a.site-content__link(href="#") Warnings and Cautions
                a.site-content__link(href="#") Vehicle Modifications / Alterations
        .site-content__item
            .site-content__header.js-accordion
                span.site-content__title Safety
                +icon("arrow-down", "site-content__arrow")
            .site-content__body.accordion-body
                a.site-content__link(href="#") Introduction
                a.site-content__link(href="#") How To Use This Manual
                a.site-content__link(href="#") Warnings and Cautions
                a.site-content__link(href="#") Vehicle Modifications / Alterations
        .site-content__item
            .site-content__header.js-accordion
                span.site-content__title Starting and Operating
                +icon("arrow-down", "site-content__arrow")
            .site-content__body.accordion-body
                a.site-content__link(href="#") Introduction
                a.site-content__link(href="#") How To Use This Manual
                a.site-content__link(href="#") Warnings and Cautions
                a.site-content__link(href="#") Vehicle Modifications / Alterations
        .site-content__item
            .site-content__header.js-accordion
                span.site-content__title In Case of Emergency
                +icon("arrow-down", "site-content__arrow")
            .site-content__body.accordion-body
                a.site-content__link(href="#") Introduction
                a.site-content__link(href="#") How To Use This Manual
                a.site-content__link(href="#") Warnings and Cautions
                a.site-content__link(href="#") Vehicle Modifications / Alterations
        .site-content__item
            .site-content__header.js-accordion
                span.site-content__title Servicing and Maintenance
                +icon("arrow-down", "site-content__arrow")
            .site-content__body.accordion-body
                a.site-content__link(href="#") Introduction
                a.site-content__link(href="#") How To Use This Manual
                a.site-content__link(href="#") Warnings and Cautions
                a.site-content__link(href="#") Vehicle Modifications / Alterations
        .site-content__item
            .site-content__header.js-accordion
                span.site-content__title Technical Specifications
                +icon("arrow-down", "site-content__arrow")
            .site-content__body.accordion-body
                a.site-content__link(href="#") Introduction
                a.site-content__link(href="#") How To Use This Manual
                a.site-content__link(href="#") Warnings and Cautions
                a.site-content__link(href="#") Vehicle Modifications / Alterations
        .site-content__item
            .site-content__header.js-accordion
                span.site-content__title Multimedia
                +icon("arrow-down", "site-content__arrow")
            .site-content__body.accordion-body
                a.site-content__link(href="#") Introduction
                a.site-content__link(href="#") How To Use This Manual
                a.site-content__link(href="#") Warnings and Cautions
                a.site-content__link(href="#") Vehicle Modifications / Alterations
        .site-content__item
            .site-content__header.js-accordion
                span.site-content__title Customer Assistance
                +icon("arrow-down", "site-content__arrow")
            .site-content__body.accordion-body
                a.site-content__link(href="#") Introduction
                a.site-content__link(href="#") How To Use This Manual
                a.site-content__link(href="#") Warnings and Cautions
                a.site-content__link(href="#") Vehicle Modifications / Alterations