section.car-characteristics
    .container
        .car-characteristics__container
            .car-characteristics__list
                .car-characteristics__item
                    .car-characteristics__img.car-characteristics__img--big
                        img(src="img/content/car-preview/car-preview-1.png")
                    .car-characteristics__content
                        span.car-characteristics__title-blue 2022
                        span.car-characteristics__text 6x139.7
                .car-characteristics__item
                    .car-characteristics__img.car-characteristics__img--big
                        img(src="img/content/car-preview/car-preview-1.png")
                    .car-characteristics__content
                        span.car-characteristics__title-blue 2021
                        span.car-characteristics__text 6x139.7
                .car-characteristics__item
                    .car-characteristics__img.car-characteristics__img--big
                        img(src="img/content/car-preview/car-preview-2.png")
                    .car-characteristics__content
                        span.car-characteristics__title-blue 2020
                        span.car-characteristics__text 6x139.7
            .car-characteristics__list
                .car-characteristics__item
                    .car-characteristics__img.car-characteristics__img--big
                        img(src="img/content/car-preview/car-preview-2.png")
                    .car-characteristics__content
                        span.car-characteristics__title-blue 2022
                        span.car-characteristics__text 6x139.7
                .car-characteristics__item
                    .car-characteristics__img.car-characteristics__img--big
                        img(src="img/content/car-preview/car-preview-3.png")
                    .car-characteristics__content
                        span.car-characteristics__title-blue 2021
                        span.car-characteristics__text 6x139.7
                .car-characteristics__item
                    .car-characteristics__img.car-characteristics__img--big
                        img(src="img/content/car-preview/car-preview-3.png")
                    .car-characteristics__content
                        span.car-characteristics__title-blue 2020
                        span.car-characteristics__text 6x139.7
        p.page-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electroni Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        h2.page-title See more
        .car-characteristics__container
            .car-characteristics__list
                .car-characteristics__item
                    .car-characteristics__img.car-characteristics__img--middle
                        img(src="img/content/bulbs/bulb-1.png")
                    .car-characteristics__content
                        span.car-characteristics__text-blue LED Bulbs
                .car-characteristics__item
                    .car-characteristics__img.car-characteristics__img--middle
                        img(src="img/content/bulbs/bulb-2.png")
                    .car-characteristics__content
                        span.car-characteristics__text-blue HID Bulbs
            .car-characteristics__list
                .car-characteristics__item
                    .car-characteristics__img.car-characteristics__img--middle
                        img(src="img/content/lights/headlights.png")
                    .car-characteristics__content
                        span.car-characteristics__text-blue Headlights
                .car-characteristics__item
                    .car-characteristics__img.car-characteristics__img--middle
                        img(src="img/content/lights/tail-lights.png")
                    .car-characteristics__content
                        span.car-characteristics__text-blue Tail lights