.car-model__row.container
    .car-model__content
        h1.car-model__title
            span 2020 Cadillac Escalade
            span Owner’s Manual
    .car-model__img-small
        img(src="img/content/car-model/cadillac.png" alt="Cadillac")
section.page
    .page-container.container
        include ../../chunk/sidebar
        .content
            .breadcrumbs
                a.breadcrumbs-link(href="#") Owner’s manual
                a.breadcrumbs-link(href="#") Custom box
                a.breadcrumbs-link(href="#") Info
            h2.page-title Vehicle user guide - if equipped
            p.page-text Access your Owner’s Information right through your Uconnect 4C or 4C NAV touchscreen system (if equipped).
            p.page-text To access the Vehicle User Guide on your Uconnect Touchscreen: Press the Uconnect Apps button. From there, press the Vehicle User Guide icon on your touchscreen. No Uconnect registration is required.
            img.page-img-full(src="img/content/owners-manuals-year/post-img.jpg" alt="Img")
            p.page-text
                span.block Note:
                | Vehicle User Guide features are not available while the vehicle is moving. If you try to access while the vehicle is in motion, the system will display the message “Feature not available while the vehicle is in motion”.
            h3.page-title-small Pre-Installed Features
            ul.page-list
                li.page-list__item Your User Guide — Updated in real-time
                li.page-list__item Touchscreen convenience
                li.page-list__item Maintenance schedules and information
                li.page-list__item Comprehensive icon and symbol glossary
                li.page-list__item Available when and where you need it
                li.page-list__item Customizable interface
                li.page-list__item Multilingual
            p.page-text Once you launch your Vehicle User Guide, you will be able to explore your warranty information and radio manual when and where you need them. Your Uconnect system displays the Vehicle User Guide on your touchscreen radio to assist in better understanding your vehicle. There’s no app to download, no phone to connect and no external device needed for playback. Plus, it’s updated throughout the year, in real-time, so it is never out of date.
            .page-nav
                a.page-nav__link(href="#") Previous
                a.page-nav__link(href="#") Next