include ../helpers/_mixins

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Title
        link(rel="stylesheet", href="css/land-rover-critical.css")
        noscript.loadLater
            link(rel="stylesheet", href="css/land-rover.css")
        <script type="application/javascript">document.addEventListener("DOMContentLoaded", function(event){var loadLater = document.querySelector('.loadLater');var head = document.querySelector('head');if(loadLater && head){head.insertAdjacentHTML('beforeend', loadLater.innerHTML);}});</script>
    body
        block page
        block script