.car-model__row.container
    .car-model__content
        h1.car-model__title
            span 2017 Ford F-150
            span Owner’s Manual
    .car-model__img-small
        picture
            source(srcset="img/content/car-model/cadillac.webp", type="image/webp")
            img(src="img/content/car-model/cadillac.png" alt="Cadillac")
section.page
    .page-container.container
        include sidebar
        .content
            .breadcrumbs
                a.breadcrumbs-link(href="#") Owner’s manuals
                a.breadcrumbs-link(href="#") 2017
                a.breadcrumbs-link(href="#") Recommended Towing Weights
            h2.page-title Recommended Towing Weights
            p
                span.block Note:
                span Do not exceed a trailer weight of 2,313 kg when towing with, or by, bumper only.
            p
                span.block Note:
                span For vehicles equipped with a 3.5 L TiVCT engine without a Heavy Duty Trailer Towing Package, do not exceed a trailer weight of 2,313 kg.
            p
                span.block Note:
                span Make sure to take into consideration trailer frontal area. Vehicles not equipped with the Trailer Tow Package or the Heavy Duty Payload Package should not exceed 36.6 feet<sup>2</sup> (3.4 meters<sup>2</sup>) trailer frontal area. Vehicles equipped with the Trailer Tow Package or the Heavy Duty Payload Package should not exceed 60 feet<sup>2</sup> (5.6 meters<sup>2</sup>) trailer frontal area.
            p
                span.block Note:
                span Exceeding this limitation may significantly reduce the performance of your towing vehicle. Selecting a trailer with a low aerodynamic drag and rounded front design helps optimize performance and fuel economy.
            p
                span.block Note:
                span Exceeding this limitation may significantly reduce the performance of your towing vehicle. Selecting a trailer with a low aerodynamic drag and rounded front design helps optimize performance and fuel economy.
            p
                span.block Note:
                span For high altitude operation, reduce the gross combined weight by 2% per 305 m starting at the 305 m elevation point.
            p
                span.block Note:
                span Certain states require electric trailer brakes for trailers over a specified weight. Be sure to check state regulations for this specified weight. The maximum trailer weights listed may be limited to this specified weight, as your vehicle's electrical system may not include the wiring connector needed to use electric trailer brakes.
            p
                span.block Note:
                span Your vehicle may tow a trailer provided the maximum trailer weight is less than or equal to the maximum trailer weight listed for your vehicle configuration on the following charts.
            .scroll(data-simplebar, data-simplebar-auto-hide="false")
                table
                    thead
                        tr
                            th(colspan='4')
                                span
                                    | Driveline &ndash; 4x2
                                    sup 1
                        tr
                            th
                                span Cab &ndash; wheelbase (inches)
                            th
                                span Engine
                            th
                                span Axle ratio
                            th
                                span
                                    | Maximum GCWR
                                    sup 2, 3
                    tbody
                        tr
                            td(rowspan='6')
                                | Regular cab &ndash; 122
                            td(rowspan='2')
                                | 3.5L TiVCT
                            td
                                | 3.55
                            td
                                | 9400 lb (4264 kg)
                                sup 4
                        tr
                            td
                                | 3.73
                            td
                                | 12000 lb (5443 kg)
                        tr
                            td(rowspan='2')
                                | 2.7L GTDI
                            td
                                | 3.15, 3.31
                            td
                                | 12200 lb (5533 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 13100 lb (5942 kg)
                        tr
                            td(rowspan='2')
                                | 5.0L TiVCT
                            td
                                | 3.31
                            td
                                | 13000 lb (5897 kg)
                        tr
                            td
                                | 3.55
                            td
                                | 13800 lb (6260 kg)
                        tr
                            td(rowspan='10')
                                | Regular cab &ndash; 141
                            td(rowspan='2')
                                | 3.5L TiVCT
                            td
                                | 3.55
                            td
                                | 9500 lb (4309 kg)
                                sup 4
                        tr
                            td
                                | 3.73
                            td
                                | 12100 lb (5488 kg)
                        tr
                            td(rowspan='3')
                                | 2.7L GTDI
                            td
                                | 3.15, 3.31
                            td
                                | 12300 lb (5579 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 13100 lb (5942 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 13300 lb (6032 kg)
                                sup 5
                        tr
                            td(rowspan='3')
                                | 5.0L TiVCT
                            td
                                | 3.31
                            td
                                | 13900 lb (6305 kg)
                        tr
                            td
                                | 3.55
                            td
                                | 14900 lb (6758 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 16000 lb (7257 kg)
                                sup 6
                        tr
                            td(rowspan='3')
                                | 3.5L GTDI
                            td
                                | 3.15
                            td
                                | 15500 lb (7030 kg)
                        tr
                            td
                                | 3.55
                            td
                                | 17100 lb (7756 kg)
                                sup 7
                        tr
                            td
                            td
                                | 3.73
                            td
                                | 17100 lb (7756 kg)
                                sup 6, 7
                        tr
                            td(rowspan='10')
                                | Super Cab &ndash; 145
                            td(rowspan='2')
                                | 3.5L TiVCT
                            td
                                | 3.55
                            td
                                | 9800 lb (4445 kg)
                                sup 4
                        tr
                            td
                                | 3.73
                            td
                                | 12200 lb (5534 kg)
                        tr
                            td(rowspan='3')
                                | 2.7L GTDI
                            td
                                | 3.15, 3.31
                            td
                                | 12500 lb (5670 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 13100 lb (5942 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 13300 lb (6032 kg)
                                sup 5
                        tr
                            td(rowspan='4')
                                | 5.0L TiVCT
                            td(rowspan='2')
                                | 3.31
                            td
                                | 13000 lb (5897 kg)
                                sup 8
                        tr
                            td
                                | 14200 lb (6441 kg)
                        tr
                            td(rowspan='2')
                                | 3.55
                            td
                                | 14000 lb (6350 kg)
                                sup 8
                        tr
                            td
                                | 15200 lb (6895 kg)
                        tr
                            td(rowspan='2')
                                | 3.5L GTDI
                            td
                                | 3.15
                            td
                                | 15800 lb (7167 kg)
                        tr
                            td
                            td
                                | 3.55
                            td
                                | 17100 lb (7756 kg)
                                sup 7
                        tr
                            td(rowspan='9')
                                | Super Cab &ndash; 163
                            td(rowspan='3')
                                | 2.7L GTDI
                            td
                                | 3.15, 3.31
                            td
                                | 12600 lb (5715 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 13100 lb (5942 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 13300 lb (6032 kg)
                                sup 5
                        tr
                            td(rowspan='3')
                                | 5.0L TiVCT
                            td
                                | 3.31
                            td
                                | 14300 lb (6486 kg)
                        tr
                            td
                                | 3.55
                            td
                                | 15300 lb (6940 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 16200 lb (7348 kg)
                                sup 6
                        tr
                            td(rowspan='3')
                                | 3.5L GTDI
                            td
                                | 3.15
                            td
                                | 15900 lb (7212 kg)
                        tr
                            td
                                | 3.55
                            td
                                | 17100 lb (7756 kg)
                                sup 7
                        tr
                            td
                                | 3.73
                            td
                                | 17100 lb (7756 kg)
                                sup 6, 7
                        tr
                            td(rowspan='10')
                                | Crew cab &ndash; 145
                            td(rowspan='2')
                                | 3.5L TiVCT
                            td
                                | 3.55
                            td
                                | 9900 lb (4491 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 12200 lb (5534 kg)
                                sup 3
                        tr
                            td(rowspan='3')
                                | 2.7L GTDI
                            td
                                | 3.15, 3.31
                            td
                                | 12600 lb (5715 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 13100 lb (5942 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 13300 lb (6032 kg)
                                sup 5
                        tr
                            td(rowspan='4')
                                | 5.0L TiVCT
                            td(rowspan='2')
                                | 3.31
                            td
                                | 13000 lb (5897 kg)
                                sup 8
                        tr
                            td
                                | 14200 lb (6441 kg)
                        tr
                            td(rowspan='2')
                                | 3.55
                            td
                                | 14000 lb (6350 kg)
                                sup 8
                        tr
                            td
                                | 15200 lb (6895 kg)
                        tr
                            td(rowspan='2')
                                | 3.5L GTDI
                            td
                                | 3.15
                            td
                                | 15800 lb (7167 kg)
                        tr
                            td
                            td
                                | 3.55
                            td
                                | 17000 lb (7711 kg)
                                sup 7
                        tr
                            td(rowspan='10')
                                | Crew cab &ndash; 157
                            td(rowspan='3')
                                | 2.7L GTDI
                            td
                                | 3.15, 3.31
                            td
                                | 12600 lb (5715 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 13100 lb (5942 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 13300 lb (6032 kg)
                                sup 5
                        tr
                            td(rowspan='5')
                                | 5.0L TiVCT
                            td(rowspan='2')
                                | 3.31
                            td
                                | 13000 lb (5897 kg)
                                sup 8
                        tr
                            td
                                | 14200 lb (6441 kg)
                        tr
                            td(rowspan='2')
                                | 3.55
                            td
                                | 14000 lb (6350 kg)
                                sup 8
                        tr
                            td
                                | 15200 lb (6895 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 16200 lb (7348 kg)
                                sup 6
                        tr
                            td(rowspan='3')
                                | 3.5L GTDI
                            td
                                | 3.15
                            td
                                | 15900 lb (7212 kg)
                        tr
                            td
                                | 3.55
                            td
                                | 17100 lb (7756 kg)
                                sup 7
                        tr
                            td
                            td
                                | 3.73
                            td
                                | 17100 lb (7756 kg)
                                sup 6, 7
            .reference
                p
                    sup 1
                    span For vehicles equipped with a 3.5 L TiVCT engine without a Heavy Duty or MAX Trailer Towing Package, do not exceed a trailer weight of 2,313 kg.
                p
                    sup 2
                    span Calculated with SAE J2807 method.
                p
                    sup 3
                    span Heavy Duty Trailer Tow Payload Package (unless stated otherwise).
                p
                    sup 4
                    span Medium Duty Trailer Tow package – 5100 pound (2313 kilogram) maximum trailer weight.
                p
                    sup 5
                    span 2.7L EcoBoost Payload Package.
                p
                    sup 6
                    span Heavy Duty Payload Package.
                p
                    sup 7
                    span MAX Trailer Tow Payload Package.
                p
                    sup 8
                    span Special Edition package.

            .scroll(data-simplebar='' data-simplebar-auto-hide='false')
                table
                    thead
                        tr
                            th(colspan="4")
                                span
                                    | Driveline &ndash; 4x4
                                    sup 1
                        tr
                            th
                                span Cab &ndash; wheelbase (inches)
                            th
                                span Engine
                            th
                                span Axle ratio
                            th
                                span
                                    | Maximum GCWR
                                    sup 2, 3
                    tbody
                        tr
                            td(rowspan='6')
                                | Regular cab &ndash; 122
                            td(rowspan='2')
                                | 3.5L TiVCT
                            td
                                | 3.55
                            td
                                | 9700 lb (4400 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 12200 lb (5534 kg)
                                sup 3
                        tr
                            td(rowspan='2')
                                | 2.7L GTDI
                            td
                                | 3.55
                            td
                                | 12500 lb (5670 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 13300 lb (6032 kg)
                        tr
                            td(rowspan='2')
                                | 5.0L TiVCT
                            td
                                | 3.31, 3.55
                            td
                                | 13200 lb (5987 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 14600 lb (6622 kg)
                        tr
                            td(rowspan='8')
                                | Regular cab &ndash; 141
                            td
                                | 3.5L TiVCT
                            td
                                | 3.73
                            td
                                | 12200 lb (5534 kg)
                        tr
                            td(rowspan='3')
                                | 2.7L GTDI
                            td
                                | 3.55
                            td
                                | 12500 lb (5670 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 13300 lb (6032 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 13300 lb (6032 kg)
                                sup 4
                        tr
                            td(rowspan='4')
                                | 5.0L TiVCT
                            td
                                | 3.31, 3.55
                            td
                                | 14100 lb (6396 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 16200 lb (7348 kg)
                        tr
                            td(rowspan='2')
                                | 3.73
                            td
                                | 16100 lb (7303 kg)
                                sup 5, 8
                        tr
                            td
                                | 16200 lb (7348 kg)
                                sup 5, 9
                        tr
                            td(rowspan='4')
                            td(rowspan='4')
                                | 3.5L GTDI
                            td
                                | 3.31, 3.55
                            td
                                | 15800 lb (7167 kg)
                        tr
                            td
                                | 3.55
                            td
                                | 17100 lb (7756 kg)
                                sup 6
                        tr
                            td(rowspan='2')
                                | 3.73
                            td
                                | 17000 lb (7711 kg)
                                sup 5, 6, 8
                        tr
                            td
                                | 17100 lb (7756 kg)
                                sup 5, 6, 9
                        tr
                            td(rowspan='10')
                                | Super Cab &ndash; 145
                            td
                                | 3.5L TiVCT
                            td
                                | 3.73
                            td
                                | 12200 lb (5534 kg)
                        tr
                            td(rowspan='3')
                                | 2.7L GTDI
                            td
                                | 3.55
                            td
                                | 12700 lb (5761 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 13300 lb (6032 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 13300 lb (6032 kg)
                                sup 4
                        tr
                            td(rowspan='6')
                                | 5.0L TiVCT
                            td(rowspan='2')
                                | 3.31
                            td
                                | 13000 lb (5897 kg)
                                sup 7
                        tr
                            td
                                | 14300 lb (6486 kg)
                        tr
                            td(rowspan='2')
                                | 3.55
                            td
                                | 14000 lb (6350 kg)
                                sup 7
                        tr
                            td
                                | 14400 lb (6532 kg)
                        tr
                            td(rowspan='2')
                                | 3.73
                            td
                                | 15000 lb (6804 kg)
                                sup 7
                        tr
                            td
                                | 16200 lb (7348 kg)
                        tr
                            td(rowspan='2')
                            td(rowspan='2')
                                | 3.5L GTDI
                            td
                                | 3.31, 3.55
                            td
                                | 16000 lb (7167 kg)
                        tr
                            td
                                | 3.55
                            td
                                | 17100 lb (7756 kg)
                                sup 6
                        tr
                            td(rowspan='7')
                                | Super Cab &ndash; 163
                            td(rowspan='4')
                                | 5.0L TiVCT
                            td
                                | 3.31
                            td
                                | 14300 lb (6486 kg)
                        tr
                            td
                                | 3.55
                            td
                                | 14500 lb (6577 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 16200 lb (7348 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 16200 lb (7348 kg)
                                sup 5
                        tr
                            td(rowspan='3')
                                | 3.5L GTDI
                            td
                                | 3.31, 3.55
                            td
                                | 16200 lb (7348 kg)
                        tr
                            td
                                | 3.55
                            td
                                | 17100 lb (7756 kg)
                                sup 6
                        tr
                            td
                                | 3.73
                            td
                                | 17100 lb (7756 kg)
                                sup 5, 6
                        tr
                            td(rowspan='10')
                                | Crew cab &ndash; 145
                            td
                                | 3.5L TiVCT
                            td
                                | 3.73
                            td
                                | 12200 lb (5534 kg)
                        tr
                            td(rowspan='3')
                                | 2.7L GTDI
                            td
                                | 3.55
                            td
                                | 12800 lb (5806 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 13300 lb (6033 kg)
                        tr
                            td
                                | 3.73
                            td
                                | 13300 lb (6033 kg)
                                sup 4
                        tr
                            td(rowspan='6')
                                | 5.0L TiVCT
                            td(rowspan='2')
                                | 3.31
                            td
                                | 13000 lb (5897 kg)
                                sup 7
                        tr
                            td
                                | 14300 lb (6486 kg)
                        tr
                            td(rowspan='2')
                                | 3.55
                            td
                                | 14000 lb (6350 kg)
                                sup 7
                        tr
                            td
                                | 14400 lb (6532 kg)
                        tr
                            td(rowspan='2')
                                | 3.73
                            td
                                | 16200 lb (7348 kg)
                        tr
                            td
                                | 15000 lb (6804 kg)
                                sup 7
                        tr
                            td(rowspan='3')
                            td(rowspan='3')
                                | 3.5L GTDI
                            td
                                | 3.31, 3.55
                            td
                                | 16100 lb (7303 kg)
                        tr
                            td(rowspan='2')
                                | 3.55
                            td
                                | 16700 lb (7666 kg)
                                sup 10
                        tr
                            td
                                | 16900 lb (7666 kg)
                                sup 6
                        tr
                            td(rowspan='9')
                                | Crew cab &ndash; 157
                            td(rowspan='9')
                                | 5.0L TiVCT
                            td(rowspan='2')
                                | 3.31
                            td
                                | 13000 lb (5897 kg)
                                sup 7
                        tr
                            td
                                | 14300 lb (6486 kg)
                        tr
                            td(rowspan='2')
                                | 3.55
                            td
                                | 14000 lb (6350 kg)
                                sup 7
                        tr
                            td
                                | 14500 lb (6577 kg)
                        tr
                            td(rowspan='2')
                                | 3.73
                            td
                                | 15000 lb (6804 kg)
                                sup 7
                        tr
                            td
                                | 16200 lb (7348 kg)
                        tr
                            td(rowspan='3')
                                | 3.73
                            td
                                | 14000 lb (6350 kg)
                                sup 7
                        tr
                            td
                                | 16200 lb (7348 kg)
                        tr
                            td
                                | 16200 lb (7348 kg)
                                sup 5
                        tr
                            td(rowspan='4')
                            td(rowspan='4')
                                | 3.5L GTDI
                            td
                                | 3.31, 3.55
                            td
                                | 16100 lb (7303 kg)
                        tr
                            td
                                | 3.55
                            td
                                | 16700 lb (7303 kg)
                        tr
                            td(rowspan='2')
                                | 3.73
                            td
                                | 17000 lb (7756 kg)
                                sup 5, 6, 8
                        tr
                            td
                                | 17100 lb (7756 kg)
                                sup 5, 6, 9
            .reference
                p
                    sup 1
                    span For vehicles equipped with a 3.5 L TiVCT engine without a Heavy Duty or MAX Trailer Towing Package, do not exceed a trailer weight of 2,313 kg.
                p
                    sup 2
                    span Calculated with SAE J2807 method.
                p
                    sup 3
                    span Heavy Duty Trailer Tow Payload Package (unless stated otherwise).
                p
                    sup 4
                    span 2.7L EcoBoost Payload Package.
                p
                    sup 5
                    span Heavy Duty Payload Package.
                p
                    sup 6
                    span MAX Trailer Tow Payload Package.
                p
                    sup 7
                    span Special Edition package.
                p
                    sup 8
                    span 17 inch wheels.
                p
                    sup 9
                    span 18 inch wheels.
                p
                    sup 10
                    span Limited.
            p Calculating the Maximum Loaded Trailer Weight for Your Vehicle
            ol
                li Start with the gross combined weight rating for your vehicle model and axle ratio. See the previous charts.
                li Subtract all of the following that apply to your vehicle:
            ul
                li Vehicle curb weight.
                li Hitch hardware weight, for example a draw bar, ball, locks or weight distributing hardware.
                li Driver weight.
                li Passenger(s) weight.
                li Payload, cargo and luggage weight.
                li Aftermarket equipment weight.
            p This equals the maximum loaded trailer weight for this combination.
            p
                span.block Note:
                span The trailer tongue load is considered part of the payload for your vehicle. Reduce the total payload by the final trailer tongue weight.
            p
                span.block Note:
                span Consult an authorized dealer to determine the maximum trailer weight allowed for your vehicle if you are not sure.
            .page-nav
                a.page-nav__link.page-nav__link--prev(href="#") Previous
                a.page-nav__link.page-nav__link--next(href="#") Next