section.car-model.section-middle
  .car-model__container.container
      .car-model__content
          p.car-model__subtitle This vehicle is no longer available
          h1.car-model__title Please search our inventory to find another.
          p.car-model__info Vehicle Not Found
          a.btn.btn--small(href="") View Inventory
      .car-model__img-small
          picture
              source(srcset="img/content/car-model/cadillac.webp", type="image/webp")
              img(src="img/content/car-model/cadillac.png" alt="Cadillac")