section.section-middle
  .container 
    .model-slider
      .preview-slider__navigation
        button.preview-slider__btn.preview-slider__btn--prev
          +icon("arrow-left", "preview-slider__arrow")
        button.preview-slider__btn.preview-slider__btn--next
          +icon("arrow-right", "preview-slider__arrow")
        .model-slider__dots 
      .model-slider-popup.js-model-slider
        .model-slider__slide 
          a(href="img/content/schaumburg-toyota/schaumburg-toyota-1.jpg") 
            picture
              source(srcset="img/content/schaumburg-toyota/schaumburg-toyota-1.avif", type="image/avif")
              source(srcset="img/content/schaumburg-toyota/schaumburg-toyota-1.webp", type="image/webp")
              img(src="img/content/schaumburg-toyota/schaumburg-toyota-1.jpg" alt="Schaumburg Toyota")
        .model-slider__slide 
          a(href="img/content/schaumburg-toyota/schaumburg-toyota-2.jpg") 
            picture
              source(srcset="img/content/schaumburg-toyota/schaumburg-toyota-2.avif", type="image/avif")
              source(srcset="img/content/schaumburg-toyota/schaumburg-toyota-2.webp", type="image/webp")
              img(src="img/content/schaumburg-toyota/schaumburg-toyota-2.jpg" alt="Schaumburg Toyota")
        .model-slider__slide 
          a(href="img/content/schaumburg-toyota/schaumburg-toyota-3.jpg") 
            picture
              source(srcset="img/content/schaumburg-toyota/schaumburg-toyota-3.avif", type="image/avif")
              source(srcset="img/content/schaumburg-toyota/schaumburg-toyota-3.webp", type="image/webp")
              img(src="img/content/schaumburg-toyota/schaumburg-toyota-3.jpg" alt="Schaumburg Toyota")
        .model-slider__slide
          a(href="img/content/schaumburg-toyota/schaumburg-toyota-4.jpg") 
            picture
              source(srcset="img/content/schaumburg-toyota/schaumburg-toyota-4.avif", type="image/avif")
              source(srcset="img/content/schaumburg-toyota/schaumburg-toyota-4.webp", type="image/webp")
              img(src="img/content/schaumburg-toyota/schaumburg-toyota-4.jpg" alt="Schaumburg Toyota")
        .model-slider__slide 
          a(href="img/content/schaumburg-toyota/schaumburg-toyota-5.jpg") 
            picture
              source(srcset="img/content/schaumburg-toyota/schaumburg-toyota-5.avif", type="image/avif")
              source(srcset="img/content/schaumburg-toyota/schaumburg-toyota-5.webp", type="image/webp")
              img(src="img/content/schaumburg-toyota/schaumburg-toyota-5.jpg" alt="Schaumburg Toyota")
        .model-slider__slide 
          a(href="img/content/schaumburg-toyota/schaumburg-toyota-6.jpg") 
            picture
              source(srcset="img/content/schaumburg-toyota/schaumburg-toyota-6.avif", type="image/avif")
              source(srcset="img/content/schaumburg-toyota/schaumburg-toyota-6.webp", type="image/webp")
              img(src="img/content/schaumburg-toyota/schaumburg-toyota-6.jpg" alt="Schaumburg Toyota")
        .model-slider__slide 
          a(href="img/content/schaumburg-toyota/schaumburg-toyota-7.jpg") 
            picture
              source(srcset="img/content/schaumburg-toyota/schaumburg-toyota-7.avif", type="image/avif")
              source(srcset="img/content/schaumburg-toyota/schaumburg-toyota-7.webp", type="image/webp")
              img(src="img/content/schaumburg-toyota/schaumburg-toyota-7.jpg" alt="Schaumburg Toyota")
        .model-slider__slide 
          a(href="img/content/schaumburg-toyota/schaumburg-toyota-8.jpg") 
            picture
              source(srcset="img/content/schaumburg-toyota/schaumburg-toyota-8.avif", type="image/avif")
              source(srcset="img/content/schaumburg-toyota/schaumburg-toyota-8.webp", type="image/webp")
              img(src="img/content/schaumburg-toyota/schaumburg-toyota-8.jpg" alt="Schaumburg Toyota")
        .model-slider__slide 
          a(href="img/content/schaumburg-toyota/schaumburg-toyota-9.jpg") 
            picture
              source(srcset="img/content/schaumburg-toyota/schaumburg-toyota-9.avif", type="image/avif")
              source(srcset="img/content/schaumburg-toyota/schaumburg-toyota-9.webp", type="image/webp")
              img(src="img/content/schaumburg-toyota/schaumburg-toyota-9.jpg" alt="Schaumburg Toyota")
        .model-slider__slide 
          a(href="img/content/schaumburg-toyota/schaumburg-toyota-10.jpg") 
            picture
              source(srcset="img/content/schaumburg-toyota/schaumburg-toyota-10.avif", type="image/avif")
              source(srcset="img/content/schaumburg-toyota/schaumburg-toyota-10.webp", type="image/webp")
              img(src="img/content/schaumburg-toyota/schaumburg-toyota-10.jpg" alt="Schaumburg Toyota")
        .model-slider__slide 
          a(href="img/content/schaumburg-toyota/schaumburg-toyota-11.jpg") 
            picture
              source(srcset="img/content/schaumburg-toyota/schaumburg-toyota-11.avif", type="image/avif")
              source(srcset="img/content/schaumburg-toyota/schaumburg-toyota-11.webp", type="image/webp")
              img(src="img/content/schaumburg-toyota/schaumburg-toyota-11.jpg" alt="Schaumburg Toyota")
        .model-slider__slide 
          a(href="img/content/schaumburg-toyota/schaumburg-toyota-12.jpg") 
            picture
              source(srcset="img/content/schaumburg-toyota/schaumburg-toyota-12.avif", type="image/avif")
              source(srcset="img/content/schaumburg-toyota/schaumburg-toyota-12.webp", type="image/webp")
              img(src="img/content/schaumburg-toyota/schaumburg-toyota-12.jpg" alt="Schaumburg Toyota")