section.section-middle 
  .container 
    .payment 
      .payment__img 
        picture
          source(srcset="img/content/vehicles/rav4.avif", type="image/avif")
          source(srcset="img/content/vehicles/rav4.webp", type="image/webp")
          img(src="img/content/vehicles/rav4.png", alt="Rav4")
      .payment__content 
        .payment__detail 
          span.payment__number 72
          span.payment__text Months
        .payment__detail 
          span.payment__number 7.46%
          span.payment__text Estimated APR
          span.payment__info Only very well qualified buyers will qualify for the lowest APR.
        .payment__detail 
          span.payment__number $2,000
          span.payment__text Down Payment
          span.payment__info Includes Cash Down and Estimated Trade-In Value.
        .payment__detail 
          span.payment__text Finance for
          span.payment__number $571 <span class="payment__text">/month</span>
          span.payment__info Payments may vary based on actual vehicle, model &amp; options selected.
    button.btn Contact Dealer
        