section.section-middle
  .container
    h2.section-title Payment Estimator 2021 RAV4
    .vdp-links 
      span.vdp-link.vdp-link--text 2021 RAV4 ADVENTURE AWD
      span.vdp-link.vdp-link--text VIN#:2T3J1RFV5MW158084
      span.vdp-link.vdp-link--text Mileage: 60,131
      span.vdp-link.vdp-link--text $33,279 Estimated Price
section.section-middle
  .container.financial-params__wrapper
    .btn-switcher-container 
      button.btn-switcher.active Finance 
      button.btn-switcher Lease
    form.financial-params__form
      .financial-params__group 
        label.financial-params__label Estimated Credit Score <sup>1</sup>
        select.select2
          option Excellent
          option Excellent 720+
          option Great 719-690
          option Very good 689-670
          option Good 669-650
      .financial-params__group 
        label.financial-params__label Cash down <sup>2</sup>
        input.field(type="text", value="$2000")
      .financial-params__group 
        label.financial-params__label Term Length <sup>3</sup>
        select.select2
          option 24 Months
          option 36 Months
          option 48 Months
          option 60 Months
          option 72 Months
      .financial-params__group 
        label.financial-params__label Estimated APR <sup>4</sup>
        input.field(type="text", value="7.46%")
      .financial-params__group 
        label.financial-params__label Estimated Trade-In Value <sup>5</sup>
        input.field(type="text", value="$0")