section.section-middle 
  .container 
  .site-content
    .site-content__item
      .site-content__header.js-accordion
        span.site-content__title Mechanical &amp; Performance
        +icon("arrow-down", "site-content__arrow")
      .site-content__body.accordion-body
        ul 
          li 2.5L 4-Cylinder Engine
          li 203 hp @ 6600 rpm / 184 lb-ft @ 5000 rpm
          li 8-Speed Automatic Transmission
          li Dynamic Torque Vectoring AWD w/Multi-Terrain Select
    .site-content__item
      .site-content__header.js-accordion
        span.site-content__title Safety &amp; Convenience
        +icon("arrow-down", "site-content__arrow")
      .site-content__body.accordion-body
        ul
          li Toyota Safety Sense 2.0: Pre-CollisionSys w/ Pedestrian Detection, Full-SpeedRange Dynamic Radar Cruise Control, LaneDeparture Alert w/ Steering Assist,Lane Tracing Assist, Automatic HighBeams, Road Sign Assist
          li 8 Airbags; Star Safety System
          li Anti-Theft System w/ Alarm
          li Backup Camera w/ Dynamic Gridlines
          li LATCH-Lower Anchor &amp; Tether for CHildren
          li Blind Spot Monitor w/Rear Cross-Traffic Alert
          li Downhill Assist Control
          li Safety &amp; Remote Connect w/ 1-Year Trial
    .site-content__item
      .site-content__header.js-accordion
        span.site-content__title Exterior
        +icon("arrow-down", "site-content__arrow")
      .site-content__body.accordion-body
        ul 
          li LED Headlights
          li LED Daytime Running Lights
          li 19-in Alloy Wheels w/Matte Black Accents
    .site-content__item
      .site-content__header.js-accordion
        span.site-content__title Interior
        +icon("arrow-down", "site-content__arrow")
      .site-content__body.accordion-body
        ul 
          li Audio Plus - 8-in Touchscreen, 6 Spkrs,HandsFree Bluetooth Phone/Music,USB Media Port, 4 USB Charge Ports,SiriusXM w/ 3-Month All Access Trial,Android Auto &amp; Apple CarPlay Compatible
          li Dual Zone Auto A/C w/ Rear Vents
          li SofTex-Trimmed Seats
          li Power Driver's Seat
          li Smart Key System w/ Push Button Start
          li Rear Cargo Area 120V/100W Power OutletToyota.com/RAV4