section
  .container
    a.backlink(href="") Back to Search Results 
    .vdp-header 
      .vehicle-description 
        h3.vehicle-title 2021 RAV4 Adventure AWD
        .vehicle-info 
          span.vehicle-miles 60,131 mi
          a.dealer-name(href="")
            +icon("location", "dealer-name__icon-location") 
            | Schaumburg Toyota
      .offer 
        h3.price $33,288
        .offer-description.js-modal-open(data-modal="special-offer") 
          span.offer-special Special Offer
          span.apr 
            span.apr-percent 5.49%
            span.apr-text APR<sup>*</sup>
        button.btn-favorite 
          +icon("favorite", "btn-favorite__icon")
      button.btn.btn--xsmall Contact Dealer
    .vdp-details 
      .vdp-detail 
        +icon("engine")
        span.vdp-text 4 Cylinders
      .vdp-detail 
        +icon("transmission")
        span.vdp-text 8-speed
        span.vdp-text Automatic
      .vdp-detail 
        +icon("fuel-type")
        span.vdp-text 25/33
        span.vdp-text est. MPG
      .vdp-detail 
        .swatch(style="background: rgb(38, 160, 222);")
        span.vdp-text Ext:
        span.vdp-text BLUE FLAME
      .vdp-detail 
        .swatch(style="background: rgb(0, 0, 0);")
        span.vdp-text Int:
        span.vdp-text BLACK
      .vdp-detail
        a(href="https://www.carfax.eu/de")  
          img.icon-carfax(src="img/general/icons/carfaxlogo.svg", alt="")
        span.vdp-text Free Carfax®
        span.vdp-text Report
    .vdp-links 
      span.vdp-link.vdp-link--text VIN 2T3J1RFV5MW158084
      a.vdp-link(href="") Apply For Credit
      a.vdp-link(href="") Estimate Payment
      a.vdp-link(href="") Find Accessories
      a.vdp-link(href="") View 2021 Brochure
      a.vdp-link(href="") Similar Models