@import "libs/normalize";
@import "color-schemes/mitsubishi";
@import "common/fonts";
@import "helpers/vars";
@import "helpers/mixins";

*, ::after, ::before {
  box-sizing: border-box
}

html, body{
  height: 100%;
}

html {
  line-height: 1;
  font-size: 16px
}

body {
  font: 16px/1.36 $base_font_family;
  color: $color-black
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0
}

p {
  margin: 0 0 20px
}

a {
  text-decoration: none;
  color: $color-accent
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle
}

button, input, select, textarea {
  outline: 0
}

button, input[type=button] {
  cursor: pointer;
  border: 0
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
}

.container {
  max-width: $container_width;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto
}

.section {
  padding: 80px 0 115px
}

.pt-50 {
  padding-top: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.logo {
  display: inline-flex;
  align-items: center
}

.logo__img {
  @include size(67px);
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center
}

.logo__text {
  font: 24px/1 $page_font_family;
  text-transform: uppercase;
  color: $white_color;
}

.site-select .footer__title-icon {
  display: inline-flex;
}

.site-select-dropdown {
  max-height: 0;
  overflow: hidden;
}

.content-wrapper:not(:first-child) {
  margin-top: 55px
}

.content-subtitle {
  margin: 40px 0;
  font-size: 26px;
  font-weight: 600
}

.nav__link-icon {
  @include size(10px, 5px);
}

.search-icon {
  @include size(28px);
}

.mobile-menu, .nav-dropdown {
  display: none
}

.car-model {
  &__container {
    @include media-sm {
      flex-direction: column;
      align-items: flex-start;
    }
    &:not(.years) {
      @include media-xs {
        align-items: center;
      }
    }

  }
  &__content {
    margin-right: 30px;
    position: relative;
    @include media-sm {
      order: 2;
      margin-right: 0;
    }
  }
  &__row {
    padding-top: 80px;
    @include media-md {
      padding-top: 50px;
    }
    @include media-sm {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__title {
    display: inline-flex;
    flex-direction: column;
    font-size: 48px;
    @include media-lg {
      font-size: 34px;
    }
    @include media-sm {
      display: block;
    }
    @include media-xs {
      text-align: center;
    }
  }
  &__subtitle {
    font-size: 24px;
    font-weight: 700;
    @include media-xs {
      text-align: center;
    }
  }
  &__img, &__img-small, &__img-medium {
    @include media-md {
      max-width: 50%;
    }
    @include media-sm {
      order: 1;
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
  &__img-medium {
    max-width: 548px;
  }
  &__img-small {
    max-width: 468px;
  }
  &__years {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 15px 10px;
    &.active {
      @include position(absolute, $top: 100%, $left: 0);
      z-index: 10;
      width: 65vw;
      background-color: $color-grey-light;
      box-shadow: 0px 0px 4px rgba(#000, 0.25);
      @include media-xl {
        width: 90vw;
      }
    }
  }
  &__year {
    display: none;
    &:hover {
      color: $color-black;
    }
  }
  &__select {
    &-year {
      margin-top: 35px;
      padding: 30px 45px 50px;
      background-color: $color-grey-light;
      box-shadow: 0px 0px 4px rgba(#000, 0.25);
      @include media-sm {
        padding: 20px;
        margin-top: 0;
      }
    }
    &-years {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__info {
    margin: 45px 0 35px;
  }
  &__text:not(:last-child) {
    margin-bottom: 15px;
  }
  &__icon {
    @include size(18px);
  }
}

.link-bordered {
  border-bottom: 1px solid $color-accent;
  transition: border-bottom-color .3s
}

.show-more {
  color: $color-accent;
  font-size: 22px;
  font-weight: 600;
  border-bottom: 1px solid $color-accent;
  display: none;
  margin: 0 auto
}

.header {
  background: $color-accent;
  position: relative;
  padding-top: 15px;
  color: $white_color;
}

.header .logo {
  position: relative;
  top: -5px
}

.header-block, .header-container {
  display: flex;
  align-items: center
}

.header-block {
  position: relative;
  margin-left: auto;
  @include media-md {
    display: none;
  }
}

.header-container {
  aspect-ratio: 1140/67;
}

.footer {
  background: $color-accent;
  padding: 25px 0;
  margin-top: auto
}

.footer__container {
  display: flex
}

.footer__item {
  flex: 1
}

.footer__item:not(:last-child) {
  margin-right: 30px
}

.footer__title {
  margin-bottom: 15px;
  color: $white_color;
  font-size: 18px;
  text-transform: uppercase
}

.footer__title-icon {
  @include size(14px, 7px);
  stroke: $white_color;
  stroke-width: 2;
  fill: none;
  display: none
}

.footer__link {
  display: block;
  margin-bottom: 5px;
  color: $white_color;
  font-size: 15px
}

.section-title {
  margin-bottom: 30px;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center
}

.content-title__icon {
  @include size(36px);
  margin-right: 15px;
  fill: $color-accent
}

.content-title__link {
  font-size: 30px;
  font-weight: 600;
  vertical-align: middle;
  color: $color-black;
  transition: color .1s
}

.btn {
  padding: 0 10px;
  background-color: $color-accent;
  display: block;
  margin: 0 auto;
  min-width: 220px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  color: $white_color;
  border-radius: 20px;
  font-size: 16px;
  transition: background-color .3s, transform .3s;
}

.mobile-menu {
  margin-right: auto;
  margin-left: -10px;
  @include media-md {
    display: block;
  }
}

.mobile-menu__nav {
  position: absolute;
  z-index: 100;
  top: calc(100% + 10px);
  left: 0;
  padding: 30px 25px;
  width: 290px;
  min-height: 100vh;
  color: #fff;
  font-size: 18px;
  background-color: $color-accent;
  transform: translateX(calc(-100vw + 20px));
  transition: transform .3s;
}
.mobile-menu__nav.is-open {
  transform: translateX(0);
}
.mobile-menu__item {
  margin-bottom: 20px;
}
.mobile-menu__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white_color;
}

.hamburger {
  width: 64px;
  height: 64px;
  transform: scale(0.7);
  -webkit-touch-callout: none;
  user-select: none;
}
.hamburger__top,
.hamburger__bottom {
  position: absolute;
  display: block;
  height: 4px;
  width: 36px;
  border-radius: 2px;
  background: #fff;
  transform-origin: 34px 2px;
  transform: rotate(0deg);
  transition: all 500ms cubic-bezier(0.8, -1.1, 0.5, 1.9);
}
.hamburger__top {
  top: 19px;
  left: 14px;
}
.hamburger__bottom {
  top: 41px;
  left: 14px;
}
.hamburger path,
.hamburger line {
  stroke: #fff;
  stroke-linecap: round;
}
#circle {
  stroke-dasharray: 1 100 32 300;
  stroke-dashoffset: 101;
  transition: all 750ms ease;
}
.hamburger.is-closed #circle {
  stroke-dasharray: 1 100 190 300;
  stroke-dashoffset: 1;
}
.hamburger.is-closed .hamburger__top {
  transform: translateX(-4.5px) rotate(-45deg);
}
.hamburger.is-closed .hamburger__bottom {
  transform: translateX(-4.5px) rotate(45deg);
}

.mobile-menu-dropdown {
  margin-top: 15px;
  display: none;
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    text-align: center;
    margin-bottom: 15px;
    max-width: 100px;
  }
  &__title {
    display: block;
    font-size: 15px;
    color: $white_color;
  }
}

.mobile-menu-search {
  position: relative;
  &__field {
    width: 100%;
    padding: 10px 45px 10px 15px;
    border-radius: 15px;
    border: none;
  }
  &__btn {
    @include position(absolute, $right: 5px, $top: 7px);
    padding: 0;
    background: transparent;
  }
  &__icon {
    @include size(28px);
    fill: none;
    stroke-width: 2;
    stroke: $color-accent;
  }
  &__matches {
    margin-top: 5px;
    border-radius: 15px;
    overflow: hidden;
  }
}

.car-characteristics__img img, .car-features-table__col.img img, .car-model__img img, .car-model__img-medium img, .car-model__img-small img, .mobile-menu-dropdown__img, .preview-slider__img img, .shop-cars__img img, .wheel-adapters-info__img img {
  max-width: 100%
}

.car-characteristics__img {
  aspect-ratio: 125/79;
}

.car-characteristics__img--small, .wheel-adapters-info__img img {
  aspect-ratio: 1;
}

.car-model__img {
  aspect-ratio: 727 / 314;
}

.car-model__img-medium {
  aspect-ratio: 548 / 346;
}

.car-model__img-small {
  aspect-ratio: 476 / 206;
}

.car-features-table__col.img {
  aspect-ratio: 245/122;
  @include media-md {
    aspect-ratio: auto;
  }
}

.car-features-header__icon {
  @include size(10px, 5px);
  fill: $color-accent;
  flex: none;
}

.nav {
  display: flex
}

.nav__item {
  margin-right: 10px
}

.nav__link {
  position: relative;
  z-index: 5;
  display: block;
  padding: 15px 15px 30px;
  color: $white_color;
}

.nav__link-hover {
  background: rgba(255, 255, 255, .3);
  @include position(absolute, $top: 0, $left: 0);
  display: block;
  transition: opacity .5s, left .5s, width .5s, height .5s;
  border-radius: 20px 20px 0 0
}

.nav__link-icon {
  fill: $white_color;
  transition: transform .3s;
}

.nav-dropdown {
  @include position(absolute, $right: 0, $top: 100%);
  z-index: 15;
  flex-wrap: wrap;
  padding: 15px 30px;
  min-width: 705px;
  width: 100%;
  background: $white_color;
  box-shadow: 0 0 4px rgba(0, 0, 0, .25);
  transform-origin: top center;
  animation-name: openMenu;
  animation-duration: .6s
}

.preview-slider {
  margin-top: 45px;
  padding: 0 40px;
  position: relative
}

.preview-slider__item {
  display: flex !important;
  align-items: center;
  padding-right: 10px;
  position: relative
}

.preview-slider__link {
  @include position(absolute, $top: 0, $right: 0, $bottom: 0, $left: 0);
}

.preview-slider__img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  width: 95px;
  margin-right: 20px;
  aspect-ratio: 95/65;
}

.preview-slider__title {
  display: block;
  font-size: 18px
}

.preview-slider__text {
  font-size: 18px;
  color: $color-accent
}

.preview-slider__btn {
  @include position(absolute, $top: 50%);
  padding: 0;
  background: transparent;
  transform: translateY(-50%)
}

.preview-slider__btn--prev {
  left: 0
}

.preview-slider__btn--next {
  right: 0
}

.preview-slider__arrow {
  @include size(24px);
  fill: none;
  stroke: $color-accent;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: transform .3s;
}

.slick-slider {
  min-width: 0
}

.slick-list {
  overflow: hidden
}

.slick-track {
  display: flex;
  align-items: center
}

.search {
  margin-left: 30px
}

.search-icon {
  cursor: pointer;
  fill: none;
  stroke: $white_color;
  stroke-width: 2;
  transition: transform .3s;
}

.search-form {
  @include position(absolute, $top: 100%, $right: 0);
  display: none;
  padding: 25px 15px 15px;
  width: 100%;
  background: $white_color;
  box-shadow: 0 0 4px rgba(0, 0, 0, .25);
  transform-origin: top right;
  animation-name: openMenu;
  animation-duration: .6s
}

.car-model__container, .car-model__row {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.car-model__title.bordered::after {
  background: $color-accent;
  content: "";
  display: block;
  margin-top: 25px;
  width: 193px;
  height: 3px;
  @include media-xs {
    content: none;
  }
}

.car-model__title span:not(:first-child) {
  margin-left: 5px
}

.car-model__img {
  max-width: 730px
}

.car-model__text {
  margin-top: 45px;
}

.car-model__year {
  font-size: 18px;
  line-height: 1.78;
  transition: color .3s
}

.car-model__year:not(:last-child)::after {
  content: "...";
  display: inline;
  margin: 0 2px;
  color: $color-black
}

.car-model__year.always-show {
  display: inline
}

.car-model__btn {
  padding: 0;
  margin-left: 10px;
  background: transparent
}

.car-model__icon {
  fill: none;
  stroke: $color-black;
  stroke-width: 2
}

.page-navigation {
  background: $color-grey-light;
  padding: 40px 0;
  text-align: center
}

.page-navigation__links {
  position: relative;
  aspect-ratio: 1110/50;
  @include media-sm {
    aspect-ratio: 546/200;
  }
}

.page-navigation__link {
  position: relative;
  z-index: 5;
  padding: 10px 30px;
  display: inline-flex;
  font-size: 22px;
  font-weight: 600;
  color: $color-black;
}

.page-navigation__link:not(:last-of-type) {
  margin-right: 10px
}

.page-navigation__hover {
  background: $grey_color_medium;
  @include position(absolute, $top: 0, $left: 0);
  display: block;
  border-radius: 20px;
  transition: opacity .5s, left .5s, width .5s, height .5s
}

.shop {
  padding: 55px 0 35px
}

.shop-cars, .shop-cars__item {
  display: flex
}

.shop-cars {
  justify-content: center;
  margin-top: 50px
}

.shop-cars__item {
  background-color: $color-grey-light;
  align-items: center;
  padding: 45px 25px;
  width: 40%;
  box-shadow: 0 0 4px rgba(0, 0, 0, .25)
}

.shop-cars__item:not(:last-child) {
  margin-right: 30px
}

.shop-cars__img {
  max-width: 190px;
  margin-right: 20px;
  aspect-ratio: 190/77;
}

.shop-cars__link {
  font-size: 22px;
  font-weight: 600
}

.modified-cars {
  background: $color-grey-light;
  padding: 50px 0 40px
}

.modified-cars-slider {
  margin: 40px 0;
  position: relative
}

.modified-cars-slider .slick-slide {
  margin: 0 5px;
}

.modified-cars-slider__item {
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, .25));
  transition: filter .3s;
  width: 24%;
  text-align: center
}

.modified-cars-slider__item span {
  display: block;
  margin-top: 10px;
}

.modified-cars-slider__img {
  max-width: 100%;
}

.card__img, .modified-cars-slider__img {
  aspect-ratio: 1;
}

.page-img-big {
  aspect-ratio: 1121/631;
}


.modified-cars-slider__btn {
  @include position(absolute, $top: 50%);
  margin-top: -12px;
  padding: 0;
  @include size(36px);
  background: rgba(255, 255, 255, .45);
  border-radius: 50%;
  transition: transform .3s, background .3s;
}

.modified-cars-slider__btn--prev {
  left: 0
}

.modified-cars-slider__btn--next {
  right: 0
}

.modified-cars-slider__arrow {
  @include size(18px);
  fill: none;
  stroke: $color-accent;
  stroke-width: 2
}

.articles {
  background: $color-grey-light;
  padding: 45px 0 35px
}

.articles__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}

.articles__item {
  width: 32%;
  margin-bottom: 55px;
  display: none
}

.contact {
  aspect-ratio: 1487/604;
}

.breadcrumbs {
  margin: 30px 0;

  &-link {
    font-size: 15px;
    color: $color-black;
    transition: color .3s;

    &:hover {
      color: $color-accent;
    }

    &:last-child {
      pointer-events: none;
      color: $color-accent;
    }

    &:not(:last-child) {
      &::after {
        content: "|";
        display: inline-block;
        margin: 0 5px;
        color: $color-accent;
      }
    }
  }
}

.page {
  padding: 30px 0;

  &-container {
    display: flex;
    @include media-md {
      display: block;
    }
  }

  &-separator {
    margin: 30px 0;
    height: 1px;
    background-color: $white_color;
    box-shadow: 0px 0px 4px rgba(#000, 0.25);
  }
  &-main-title {
    margin-bottom: 45px;
    @include media-lg {
      margin-bottom: 15px;
    }
  }
  &-title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &-title-small {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
  }


  &-img-left {
    margin-right: 35px;
    width: 45%;
    float: left;
    @include media-lg {
      margin-right: 15px;
    }
    @include media-sm {
      float: none;
      margin-right: 0;
      margin-bottom: 20px;
      display: block;
      width: 100%;
    }
  }

  &-img-full {
    width: 100%;
    margin: 20px 0;
  }

  &-nav {
    margin-top: 30px;
    display: flex;

    &__link {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      @include size(190px, 46px);
      font-size: 16px;
      text-transform: uppercase;
      color: $white_color;
      background-color: $color-accent;
      border-radius: 20px;
      transition: background-color .3s, transform .3s;
      @include media-md {
        width: 130px;
      }

      &--prev {
        margin-right: auto;
      }

      &--next {
        margin-left: auto;
      }

      &:hover {
        background-color: lighten($color-accent, 10%);
      }


      &:active {
        background-color: darken($color-accent, 5%);
        transform: scale(.9);
      }
    }
  }
}

.sidebar {
  width: 255px;
  margin-right: 30px;
  flex: none;
  @include media-md {
    width: auto;
    margin-right: 0;
  }
}

.site-content {
  max-width: 480px;
  margin: 0 auto;
  box-shadow: 0px 0px 4px rgba(#000, 0.25);

  &__item {
    &.active {
      .site-content__arrow {
        transform: rotate(180deg);
      }
    }

    &.bordered::after {
      content: "";
      display: block;
      height: 20px;
      background-color: $color-grey-light;
      transition: height .2s;
    }

    &:last-child {
      .site-content__header::after {
        content: none;
      }
    }
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    background-color: $color-grey-light;
    &.js-accordion {
      cursor: pointer;
    }

    &::after {
      content: "";
      @include position(absolute, $top: 100%, $left: 50%);
      z-index: 1;
      height: 1px;
      width: 90%;
      transform: translateX(-50%);
      background-color: $white_color;
      @include media-md {
        width: 95%;
      }
    }
  }

  &__title {
    font-size: 18px;
  }

  &__arrow {
    flex: none;
    @include size(10px, 5px);
    fill: $color-accent;
    transition: transform .3s;
  }

  &__body {
    padding: 10px 10px 10px 30px;

    &.accordion-body {
      display: none;
    }
  }

  &__link {
    display: block;
    color: $color-black;
    transition: color .3s;

    &:hover {
      color: $color-accent;
    }

    &.active {
      font-weight: 700;
      pointer-events: none;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.footer {
  &__container {
    @include media-xl {
      flex-wrap: wrap;
    }
  }
  &__item {
    @include media-md {
      flex: auto;
    }
    @include media-sm {
      width: 100%;
    }
    &:not(:last-child) {
      @include media-sm {
        margin-right: 0;
      }
    }
    &:nth-child(1) {
      @include media-xl {
        order: 4;
        width: 100%;
        flex: auto;
        margin-right: 0;
        margin-top: 30px;
        text-align: right;
      }
    }
    &:nth-child(2) {
      @include media-xl {
        order: 1;
      }
    }
    &:nth-child(3) {
      @include media-xl {
        order: 2;
      }
    }
    &:nth-child(4) {
      @include media-xl {
        order: 3;
      }
    }
  }
  &__title {
    @include media-sm {
      display: flex;
      justify-content: space-between;
    }
    &-icon {
      @include media-sm {
        display: inline-flex;
      }
    }
  }
  &__links {
    @include media-sm {
      display: none;
      margin-bottom: 20px;
    }
  }
}

@import "components-critical/components-critical";