section
    .container
        h2.page-title Best Tires for Cadillac Escalade
        form.select-tires
            .select-tires__group
                label.select-tires__label Year:
                .custom-select.js-custom-select
                    .custom-select__header.js-custom-select-header Year
                    .custom-select__body.js-custom-select-body
                        .scroll(data-simplebar data-simplebar-auto-hide='false')
                            .custom-select__item.js-custom-select-item(data-value='2022') 2022
                            .custom-select__item.js-custom-select-item(data-value='2021') 2021
                            .custom-select__item.js-custom-select-item(data-value='2020') 2020
                            .custom-select__item.js-custom-select-item(data-value='2019') 2019
                            .custom-select__item.js-custom-select-item(data-value='2018') 2018
                            .custom-select__item.js-custom-select-item(data-value='2017') 2017
                            .custom-select__item.js-custom-select-item(data-value='2016') 2016
                            .custom-select__item.js-custom-select-item(data-value='2015') 2015
                            .custom-select__item.js-custom-select-item(data-value='2014') 2014
                            .custom-select__item.js-custom-select-item(data-value='2013') 2013
                            .custom-select__item.js-custom-select-item(data-value='2012') 2012
                            .custom-select__item.js-custom-select-item(data-value='2011') 2011
                            .custom-select__item.js-custom-select-item(data-value='2010') 2010
                            .custom-select__item.js-custom-select-item(data-value='2009') 2009
                            .custom-select__item.js-custom-select-item(data-value='2008') 2008
                            .custom-select__item.js-custom-select-item(data-value='2007') 2007
            .select-tires__group
                label.select-tires__label Tire size:
                .custom-select.js-custom-select
                    .custom-select__header.js-custom-select-header 225/50 R17
                    .custom-select__body.js-custom-select-body
                        .scroll(data-simplebar data-simplebar-auto-hide='false')
                            .custom-select__item.js-custom-select-item(data-value='225-50-R17') 225/50 R19
                            .custom-select__item.js-custom-select-item(data-value='225-50-R17') 225/50 R19
                            .custom-select__item.js-custom-select-item(data-value='225-50-R17') 225/50 R19
                            .custom-select__item.js-custom-select-item(data-value='225-50-R17') 225/50 R19
                            .custom-select__item.js-custom-select-item(data-value='225-50-R17') 225/50 R19
                            .custom-select__item.js-custom-select-item(data-value='225-50-R17') 225/50 R19
                            .custom-select__item.js-custom-select-item(data-value='225-50-R17') 225/50 R19
                            .custom-select__item.js-custom-select-item(data-value='225-50-R17') 225/50 R19
                            .custom-select__item.js-custom-select-item(data-value='225-50-R17') 225/50 R19
                            .custom-select__item.js-custom-select-item(data-value='225-50-R17') 225/50 R19
                            .custom-select__item.js-custom-select-item(data-value='225-50-R17') 225/50 R19
                            .custom-select__item.js-custom-select-item(data-value='225-50-R17') 225/50 R19
                            .custom-select__item.js-custom-select-item(data-value='225-50-R17') 225/50 R19
            .select-tires__group
                label.select-tires__label Type:
                .custom-select.js-custom-select
                    .custom-select__header.js-custom-select-header Standart Touring M+s
                    .custom-select__body.js-custom-select-body
                        .scroll(data-simplebar data-simplebar-auto-hide='false')
                            .custom-select__item.js-custom-select-item(data-value='standart-touring-m-s') Standart Touring M+s
                            .custom-select__item.js-custom-select-item(data-value='standart-touring-m-s') Standart Touring M+s
                            .custom-select__item.js-custom-select-item(data-value='standart-touring-m-s') Standart Touring M+s
                            .custom-select__item.js-custom-select-item(data-value='standart-touring-m-s') Standart Touring M+s
                            .custom-select__item.js-custom-select-item(data-value='standart-touring-m-s') Standart Touring M+s
                            .custom-select__item.js-custom-select-item(data-value='standart-touring-m-s') Standart Touring M+s
                            .custom-select__item.js-custom-select-item(data-value='standart-touring-m-s') Standart Touring M+s
                            .custom-select__item.js-custom-select-item(data-value='standart-touring-m-s') Standart Touring M+s
                            .custom-select__item.js-custom-select-item(data-value='standart-touring-m-s') Standart Touring M+s
                            .custom-select__item.js-custom-select-item(data-value='standart-touring-m-s') Standart Touring M+s
                            .custom-select__item.js-custom-select-item(data-value='standart-touring-m-s') Standart Touring M+s
                            .custom-select__item.js-custom-select-item(data-value='standart-touring-m-s') Standart Touring M+s
                            .custom-select__item.js-custom-select-item(data-value='standart-touring-m-s') Standart Touring M+s
                            .custom-select__item.js-custom-select-item(data-value='standart-touring-m-s') Standart Touring M+s
                            .custom-select__item.js-custom-select-item(data-value='standart-touring-m-s') Standart Touring M+s
                            .custom-select__item.js-custom-select-item(data-value='standart-touring-m-s') Standart Touring M+s
                            .custom-select__item.js-custom-select-item(data-value='standart-touring-m-s') Standart Touring M+s
                            .custom-select__item.js-custom-select-item(data-value='standart-touring-m-s') Standart Touring M+s
            button.btn.btn--xsmall Show
        .select-tires-list
            .select-tires-list__item
                a.select-tires-list__img(href="")
                    picture
                        source(srcset="img/content/tires/tire.webp", type="image/webp")
                        img(src="img/content/tires/tire.png" alt="Bridgestone Turanza EL400-02 RFT ")
                a.select-tires-list__link(href="") Bridgestone Turanza EL400-02 RFT
            .select-tires-list__item
                a.select-tires-list__img(href="")
                    picture
                        source(srcset="img/content/tires/tire.webp", type="image/webp")
                        img(src="img/content/tires/tire.png" alt="Bridgestone Turanza EL400-02 RFT ")
                a.select-tires-list__link(href="") Bridgestone Turanza EL400-02 RFT
            .select-tires-list__item
                a.select-tires-list__img(href="")
                    picture
                        source(srcset="img/content/tires/tire.webp", type="image/webp")
                        img(src="img/content/tires/tire.png" alt="Bridgestone Turanza EL400-02 RFT ")
                a.select-tires-list__link(href="") Bridgestone Turanza EL400-02 RFT
            .select-tires-list__item
                a.select-tires-list__img(href="")
                    picture
                        source(srcset="img/content/tires/tire.webp", type="image/webp")
                        img(src="img/content/tires/tire.png" alt="Bridgestone Turanza EL400-02 RFT ")
                a.select-tires-list__link(href="") Bridgestone Turanza EL400-02 RFT