section.section-middle
    .container
        .car-features
            .car-features-header
                span.car-features-header__descr
                    span.car-features-header__text Max Payload
                    +icon("arrow-down", "car-features-header__icon")
                span.car-features-header__descr
                    span.car-features-header__text Max Towing
                    +icon("arrow-down", "car-features-header__icon")
            .car-features-table
                .car-features-table__row
                    .car-features-table__col.img
                        picture
                            source(srcset="img/content/cadillac-models/cadillac-1.webp", type="image/webp")
                            img(src="img/content/cadillac-models/cadillac-1.png")
                    .car-features-table__col.descr
                        h6.car-features-table__title Cadillac Escalade 2021
                        span.car-features-table__text 3.6L V6 24V VVT eTorque Upg | QUAD | 6’4’ | AUTO | 4x2 | Standart
                    .car-features-table__col.number
                        span.car-features-table__info max payload:
                        span.car-features-table__number
                            span 1,240
                            | lbs
                    .car-features-table__col.number
                        span.car-features-table__info max towing capacity:
                        span.car-features-table__number
                            span 6,760
                            | lbs
                .car-features-table__row
                    .car-features-table__col.img
                        picture
                            source(srcset="img/content/cadillac-models/cadillac-2.webp", type="image/webp")
                            img(src="img/content/cadillac-models/cadillac-2.png")
                    .car-features-table__col.descr
                        h6.car-features-table__title Cadillac Escalade 2021
                        span.car-features-table__text 3.6L V6 24V VVT eTorque Upg | QUAD | 6’4’ | AUTO | 4x2 | Standart
                    .car-features-table__col.number
                        span.car-features-table__info max payload:
                        span.car-features-table__number
                            span 1,240
                            | lbs
                    .car-features-table__col.number
                        span.car-features-table__info max towing capacity:
                        span.car-features-table__number
                            span 6,760
                            | lbs
                .car-features-table__row
                    .car-features-table__col.img
                        picture
                            source(srcset="img/content/cadillac-models/cadillac-3.webp", type="image/webp")
                            img(src="img/content/cadillac-models/cadillac-3.png")
                    .car-features-table__col.descr
                        h6.car-features-table__title Cadillac Escalade 2021
                        span.car-features-table__text 3.6L V6 24V VVT eTorque Upg | QUAD | 6’4’ | AUTO | 4x2 | Standart
                    .car-features-table__col.number
                        span.car-features-table__info max payload:
                        span.car-features-table__number
                            span 1,240
                            | lbs
                    .car-features-table__col.number
                        span.car-features-table__info max towing capacity:
                        span.car-features-table__number
                            span 6,760
                            | lbs
                .car-features-table__row
                    .car-features-table__col.img
                        picture
                            source(srcset="img/content/cadillac-models/cadillac-1.webp", type="image/webp")
                            img(src="img/content/cadillac-models/cadillac-1.png")
                    .car-features-table__col.descr
                        h6.car-features-table__title Cadillac Escalade 2021
                        span.car-features-table__text 3.6L V6 24V VVT eTorque Upg | QUAD | 6’4’ | AUTO | 4x2 | Standart
                    .car-features-table__col.number
                        span.car-features-table__info max payload:
                        span.car-features-table__number
                            span 1,240
                            | lbs
                    .car-features-table__col.number
                        span.car-features-table__info max towing capacity:
                        span.car-features-table__number
                            span 6,760
                            | lbs
                .car-features-table__row
                    .car-features-table__col.img
                        picture
                            source(srcset="img/content/cadillac-models/cadillac-2.webp", type="image/webp")
                            img(src="img/content/cadillac-models/cadillac-2.png")
                    .car-features-table__col.descr
                        h6.car-features-table__title Cadillac Escalade 2021
                        span.car-features-table__text 3.6L V6 24V VVT eTorque Upg | QUAD | 6’4’ | AUTO | 4x2 | Standart
                    .car-features-table__col.number
                        span.car-features-table__info max payload:
                        span.car-features-table__number
                            span 1,240
                            | lbs
                    .car-features-table__col.number
                        span.car-features-table__info max towing capacity:
                        span.car-features-table__number
                            span 6,760
                            | lbs
                .car-features-table__row
                    .car-features-table__col.img
                        picture
                            source(srcset="img/content/cadillac-models/cadillac-3.webp", type="image/webp")
                            img(src="img/content/cadillac-models/cadillac-3.png")
                    .car-features-table__col.descr
                        h6.car-features-table__title Cadillac Escalade 2021
                        span.car-features-table__text 3.6L V6 24V VVT eTorque Upg | QUAD | 6’4’ | AUTO | 4x2 | Standart
                    .car-features-table__col.number
                        span.car-features-table__info max payload:
                        span.car-features-table__number
                            span 1,240
                            | lbs
                    .car-features-table__col.number
                        span.car-features-table__info max towing capacity:
                        span.car-features-table__number
                            span 6,760
                            | lbs
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.