section.car-model.section-top
    .car-model__container.container
        .car-model__content
            h1.car-model__title
                span 2021 Cadillac Escalade
                span Towing Capacity
        .car-model__img-small
            picture
                source(srcset="img/content/car-model/cadillac.webp", type="image/webp")
                img(src="img/content/car-model/cadillac.png" alt="Cadillac")